ion-card{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    height: min-content;
    min-height: min-content;
    box-shadow: none;
    margin-bottom: 0;
    #dto1{
        position: absolute;
        font-size: 4vw;
        background-color: orange;
        height: 5vw;
        top: 4%;
        right: 0;
        padding-left: 1vw;
        color: black;
        border-radius: 6px 0px 0px 6px;
        font-family: FieldworkHumHair;
    }
    #dto2{
        position: absolute;
        font-size: 4vw;
        background-color: orange;
        height: 5vw;
        top: 12%;
        right: 0;
        padding-left: 1vw;
        color: black;
        border-radius: 6px 0px 0px 6px;
        font-family: FieldworkHumHair;
    }
    #dto3{
        position: absolute;
        font-size: 4vw;
        background-color: orange;
        height: 5vw;
        top: 20%;
        right: 0;
        padding-left: 1vw;
        color: black;
        border-radius: 6px 0px 0px 6px;
        font-family: FieldworkHumHair;
    }
    img{
        border-radius: 15px;
        width: 100%;
        height: 42vw;
        object-fit: cover;
    }
    ion-card-header{
        padding-top: 7px;
        padding-right: 0;
        padding-left: 1vw;
        ion-card-title{
            font-family: DMSerifDisplayRegular;
            font-size: 20px;
        }
        ion-card-subtitle{
            font-family: FieldworkGeoRegular;
            margin-top: 4px;
            font-size: 14px;
            text-transform: capitalize;
        }
        p{
            font-family: FieldworkGeoRegular;
            font-size: 14px;
            margin-top: 4px;
            margin-bottom: 0;
        }
    }
   
}

ion-col{
    padding: 0;
}
.card-row{
    justify-content: space-between;

}

.qualify {
    color: #ff7300;
    font-family: FieldworkGeoRegular;
    font-size: 14px;
}
.qualify-icon{
    font-size: 14px;
}


.level {
    color:red;
}

.desc_resto {
    font-size: 18px;
}