

  <ion-row>
    <ion-col size="6" *ngFor="let restaurant of restaurants" (click)="details( restaurant )">

      <ion-card>
        <ion-text *ngFor="let discount of restaurant.placediscounts; let i = index" id="dto{{ i+1 }}">
          <span *ngIf="discount.place === 'DEL'">Delivery -{{ discount.amount }}%</span>
          <span *ngIf="discount.place === 'LOC'">Take-away -{{ discount.amount }}%</span>
          <span *ngIf="discount.place === 'RES'">Reserva -{{ discount.amount }}%</span>
        </ion-text>
        <img *ngIf="restaurant.profile_picture" [src]="restaurant.profile_picture" [alt]="restaurant.name"/>
        <img *ngIf="!restaurant.profile_picture" src="assets/img/icon.png" alt="img_resto" />

        <ion-card-header>
          <ion-card-title >{{ restaurant.name }}</ion-card-title>
          <ion-card-subtitle>{{ restaurant | chips }}</ion-card-subtitle>
          <ion-row>
            <ion-col size="3" class="desc_resto" *ngIf="restaurant.qualifications.length > 0">
              <span [innerHTML]="restaurant | level:'0'" style="color: rgb(5, 5, 5);"></span>
              <span [innerHTML]="restaurant | level:''" style="color: rgb(156, 156, 156);"></span>
            </ion-col>
            <ion-col size="5" class="desc_resto" *ngIf="restaurant.qualifications.length <= 0">
              <span [innerHTML]="restaurant | level:'0'" style="color: rgb(5, 5, 5);"></span>
              <span [innerHTML]="restaurant | level:''" style="color: rgb(156, 156, 156);"></span>
            </ion-col>
            <ion-col size="6" class="desc_resto" *ngIf="restaurant.qualifications.length > 0">
              {{ restaurant | openClose }}
            </ion-col>
            <ion-col size="7" class="desc_resto" *ngIf="restaurant.qualifications.length <= 0">
              {{ restaurant | openClose }}
            </ion-col>
            <ion-col size="3" class="ion-text-right" class="desc_resto" *ngIf="restaurant.qualifications.length > 0">
              <span class="qualify">{{ restaurant | score }}</span>
              <ion-icon color="btn-dc" name="star"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
