ion-toolbar {
    padding: 5px;
    h1 {
        font-family: DMSerifDisplayRegular;
        font-size: 1.6rem;
        font-weight: normal;
        margin: 10px 0px 10px 10vw;
    }
}

.pnt-inicio {
    img {
        width: 100%;
        max-width: 400px;
    }
    .legendh1 {
        p {
            color: black;
            font-family: FieldworkGeoThin;
            font-size: 20px;
            text-align: center;
        }
    }
}

.cnx_btn {
    --color: black;
    // margin: 0px 15px 20px;
    margin: 0px 15px;
    text-transform: none;
    font-family: FieldworkHumHair;
    --background: var(--bg-primary-tint);
    font-size: 1rem;
    --padding-bottom: 23px;
    --padding-top: 23px;
    letter-spacing: 0.05rem;
}