.cnx_btn {
    --color: black;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    text-transform: none;
    font-family: FieldworkHumHair;
    --background: var(--bg-primary-tint);
    font-size: 1rem;
    --padding-bottom: 23px;
    --padding-top: 23px;
    letter-spacing: 0.05rem;
}

.header-content {
    img {
        width: 200px;
    }
}

.legendh1 {
    --color: black;
    font-family: FieldworkHumHair;
    font-size: 20px;
    margin: 15px;
}