<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <h1>Favoritos</h1>
    </ion-toolbar>
</ion-header>


<!--! cambiar la condicion de IF -->
<ion-content *ngIf="resto_favs.length > 0 && !isGuest" class="most-favoritos">
    <ion-grid fixed *ngIf="spinnFavorite">
        <ion-row class="ion-justify-content-center">
            <ion-col size="5"></ion-col>
            <ion-col size="2">
                <ion-spinner name="lines"></ion-spinner>
            </ion-col>
            <ion-col size="5"></ion-col>
        </ion-row>
    </ion-grid>

    <ion-item *ngFor="let fav of resto_favs">
        <ion-thumbnail slot="end" (click)="details(fav.restaurant)">
            <img style="border-radius: 8px;" *ngIf="fav.restaurant.profile_picture" [src]="fav.restaurant.profile_picture" [alt]="fav.restaurant.name"/>
            <img *ngIf="!fav.restaurant.profile_picture" src="assets/img/icon.png" alt="img_resto" />
        </ion-thumbnail>

        <ion-label>
            <div class="titulos" (click)="details(fav.restaurant)">
                <h2>{{ fav.restaurant.name }}</h2>
                <h3 [innerHTML]="fav.restaurant | chips:'list'"></h3>
            </div>
            <div class="iconos">
                <div id="icon-rate" (click)="details(fav.restaurant)">
                    <!-- <ion-icon name="star" *ngIf="fav.restaurant.qualifications.length > 0"></ion-icon> -->
                    <img id="star-icon" src="../../../assets/icon/favorite/star-favorite.svg" *ngIf="fav.restaurant.qualifications.length > 0" alt=""> 
                    <span style="font-family: FieldworkGeoLight;">{{ fav.restaurant | score }} {{ fav.restaurant.score }}</span>
                </div>
                <!-- <ion-icon id="heart-icon" name="heart" (click)="removeFav(fav.id)"></ion-icon> -->
                <div>
                    <img src="../../../assets/icon/favorite/hearth-favorite.svg" (click)="removeFav(fav.id)" alt="" srcset="">
                </div>
            </div>
        </ion-label>
    </ion-item>
    <br><br><br>

</ion-content>

<!-- !cambiar la condicion de IF -->
<ion-content *ngIf="isGuest">
    <ion-row class="no-register">
        <img src="../../../assets/img/favoritos.svg" alt="">
        <h3>Por favor inicie sesión o regístrese para ver restaurantes favoritos.</h3>
        <ion-button (click)="login()" expand="block" shape="round">
            Iniciar sesión
        </ion-button>
        <ion-button (click)="register()" expand="block" shape="round">
            Registrarse
        </ion-button>
        <p>O ingresar con</p>
        <div class="login-GF">
            <ion-button (click)="loginGoogle()" expand="block" shape="round">
                Google
            </ion-button>
            <ion-button (click)="loginFcbk()" expand="block" shape="round">
                Facebook
            </ion-button>
            <ion-button (click)="loginApple()" expand="block" shape="round" *ngIf="showAppleSignIn">
                Sign in with Apple
            </ion-button>
        </div>
    </ion-row>
</ion-content>

<!-- !cambiar la condicion de IF -->
<ion-content class="bus-resto" *ngIf="!isGuest && resto_favs.length <= 0" fullscreen>

    <ion-grid fixed>

        <ion-row class=" ion-justify-content-center ion-margin-top ">
            <ion-col size="8 ">
                <div class="img-cont">
                    <img class="logo" src="../../../assets/img/favoritos.svg">
                </div>
            </ion-col>
        </ion-row>

        <ion-row class=" ion-justify-content-center">
            <ion-col size=" 8 ">
                <p>Aquí se mostrarán sus<br>restaurantes favoritos</p>
            </ion-col>

        </ion-row>
        <ion-row class=" ion-justify-content-center" *ngIf="spinnFavorite">
            <ion-col size="12">
                <p><ion-spinner name="lines"></ion-spinner></p>
            </ion-col>
        </ion-row>

        <ion-row class=" ion-justify-content-center">
            <ion-col size="12 ">
                <ion-button
                    routerLink="/tabs/home"
                    class="cnx_btn"
                    expand="block" shape="round">
                    Buscar un restaurante
                </ion-button>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>