<ion-card>
    <img src="../../../assets/popover/security-card-code-american.svg" />
    <ion-card-header>
        <ion-card-subtitle>
            <h5>Código de seguridad</h5>
        </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <p>Código de 4 digitos ubicado en el frente de su tarjeta de crédito.</p>
    </ion-card-content>
</ion-card>
<ion-row>
    <ion-col size="9">
    </ion-col>
    <ion-col size="2">
        <ion-button (click)="dismissPopover()">ok</ion-button>
    </ion-col>
</ion-row>