<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pre-ordenar comida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content>

  <ion-row class="section-menu sticky-row">
    <ion-segment scrollable="true" class="segment-options"
      mode="md"
      [value]="product_titles[0]">
      <ion-segment-button
        mode="md"
        *ngFor="let category of product_titles"
        [value]="category"
        (click)="scrollTo(category)">
          <ion-label  class="list-title" text-capitalize>
            {{category}}
          </ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-row>
  <ion-row class="category-list" *ngFor="let category of product_categories" id="{{ category.name }}">
    <ion-col size="12">
      <h5 class="title_category">{{ category.name }}</h5>
      <div class="content_categories" *ngFor="let product of category.products"  (click)="addItemOrder(category.name, product)">
        <span class="title_product">{{ product.name }}</span><br>
        <div class="product_description"><span  *ngIf="product.description">{{ product.description }} <br></span></div>
        <span *ngIf="product.variants.length <= 0">${{ product.real_price }}</span>
        <span *ngFor="let variant of product.variants">
          ${{ variant.price }} - {{ variant.name }} <br>
        </span>
      </div>
    </ion-col>
  </ion-row>
  <br><br><br>

  <!-- <ion-button
    *ngIf="price_total === 0"
    (click)="bookTable()"
    class="fixed-btn"
    shape="round">
    Reservar mesa
  </ion-button> -->
  <ion-button
    *ngIf="price_total !== 0"
    (click)="viewOrders()"
    class="fixed-btn"
    shape="round">
    Ver pedido &nbsp;&nbsp; Total: ${{price_total}}
  </ion-button>

</ion-content>
