<app-header title=""></app-header>

<ion-content>
  <div class="header-content">
  </div>
  <div class="body-content">
      <form novalidate (submit)="doVerify()" [formGroup]="form">
          <ion-fab horizontal="end" horizontal="end" slot="fixed" edge="true">
              <ion-button [disabled]="form.invalid" size="large" type="submit">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-button>
          </ion-fab>
          <ion-grid fixed>
            <ion-row>
                <ion-col>
                    <label for="" style="font-size: 15px; font-weight: lighter; font-family: FieldworkGeoLight;">Ya casi terminamos</label>
                </ion-col>
            </ion-row>
              <ion-row>
                  <ion-col>
                      <h1 style="font-family: DMSerifDisplayRegular;">Bienvenido</h1>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <label for="" style="font-size: 22px; font-weight: lighter; font-family: FieldworkGeoLight;">Por favor, ingrese su número de celular</label>
                      <ion-list>
                          <ion-item>
                              <ion-label class="colorBlack" position="floating">Celular</ion-label>
                              <ion-input
                              
                              color="input-background"
                                [(ngModel)]="numberRegister.phone"
                                formControlName="phone"
                                name="phone"
                                type="number"
                                required></ion-input>
                          </ion-item>

                          <span *ngIf="errors.phone" class="error-message">
                              {{errors.phone}}
                          </span>
                          <span style="color: lightgray; font-family: FieldworkGeoLight;" *ngIf="errors.phone.length <= 0">
                              Incluir código de área.
                          </span>
                      </ion-list>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </form>
  </div>
</ion-content>