
<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-icon name="sad-outline" style="font-size: 80px;"></ion-icon>
      <p>Lo sentimos!</p>
    </ion-col>
    <ion-col size="12">
      <span style="font-size: 14px;">
        En este horario sólo quedan {{ availability }} cupos.
      </span>
    </ion-col>
    <ion-col size="12">
      <span style="font-size: 12px;">
        Intente con otro horario por favor!
      </span>
    </ion-col>
  </ion-row>
</ion-content>