* {
    color: #1d252d;
}

ion-content {
    ion-grid {
        padding: 5vw;
        ion-icon{
            height: 0.9em;
            padding-left: 1vw;
            padding-right: 1vw;
        }
        ion-row {
            ion-col{
                h2{
                    margin-top: 0;
                    margin-bottom: 5vw;
                    font-size: 20px;
                    font-family: DMSerifDisplayRegular;
                }
            }
            .score_avg {
                width: 90px;
                height: 90px;
                border-radius: 50%;
                background-color: #4cf89c;
                text-align: center;
                line-height: 90px;
                font-size: 16px;
                span {                    
                    text-align: center;
                    font-family: FieldworkGeoLight;
                }
            }
            .category-col {
                padding-left: 10vw;
                ion-row {
                    ion-col {
                        color: #1d252d;
                        vertical-align: middle;
                        padding: 0;
                        font-family: FieldworkGeoLight;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}


.initials {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(250, 176, 78);
    text-align: center;
    line-height: 50px;
}

.star_review {
    color: rgb(22, 216, 158);
}

.row_review {
    background-color: rgb(244, 245, 248);
    margin-bottom: 20px;
}
