@import "../../../theme/custom.scss";

.header-content {
    height: 40%;
    ion-buttons {
        padding-left: 3vw;
        padding-top: 3vw;
    }
}
ion-back-button {
    --color: #655c3d !important;
}
ion-grid {
    padding: 0;
    padding-right: 5vw;
    ion-row {
        padding: 0;
    }
    ion-col {
        padding: 0;
    }
}
.header-content {
    height: 40%;
}
form {
    padding: 10vw;
}
.body-content {
    margin: 0;
    border-radius: 58px 58px 0 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    height: 60vh;   
    h2 {
        font-size: 24px;
        font-family: DMSerifDisplayRegular;
        color: #1d252d;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }
    ion-row {
        .first-label {
            margin: 0;
            margin-bottom: 5vw;
            label {
                font-size: 16px;
                font-family: FieldworkGeoLight;
                color: #1d252d;
            }
        }
        ion-list {
            ion-item {
                margin: 0;
                font-family: FieldworkGeoLight;
                --background: var(--secondary-grey);
                --highlight-color-invalid: #f89b4c;
                --highlight-background: #f89b4c;
                ion-label {
                    font-family: FieldworkGeoLight;
                    font-size: 16px;
                }
                ion-input {
                    --placeholder-font-style: FieldworkGeoLight;
                    font-size: 16px;
                    color: #1d252d;
                }
            }
        }
    }
}

.error-message {
    color: rgb(252, 78, 78);
}

.footer-message {
    font-size: 16px;
    font-family: FieldworkGeoLight;
    position: absolute;
    bottom: 10vw;
    left: 10vw;
    color: #1d252d;
    span {
        font-size: 16px;
        font-family: FieldworkGeoLight;
        color: #1d252d;
    }
}


ion-fab {
    position: absolute;
    bottom: 56vh;
    margin-right: 8vw;
    ion-button.button-disabled {
        opacity: 1;
        --background: #e0e0e0;
        ion-icon {
            color: #aeaeae;
        }
    }
    ion-button {
        --background: #f89b4c;
        --transition: background-color,opacity 100ms linear;
        --ripple-color: currentColor;
        --border-radius: 50%;
        --border-width: 0;
        --border-style: none;
        --border-color: initial;
        --padding-top: 0;
        --padding-end: 0;
        --padding-bottom: 0;
        --padding-start: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        display: block;
        width: 56px;
        height: 56px;
        position: relative;
        font-size: 14px;
        text-align: center;
        text-overflow: ellipsis;
        text-transform: none;
        white-space: nowrap;
        -webkit-font-kerning: none;
        font-kerning: none;
        ion-icon{
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
}
.footer-message {
    font-size: 16px;
    font-family: FieldworkGeoLight;
    position: absolute;
    bottom: 10vw;
    left: 10vw;
    color: #1d252d;
    span {
        font-size: 16px;
        font-family: FieldworkGeoLight;
        color: #1d252d;
    }
}
@media (max-height: 576px) {
    .header-content {
        height: 10%;
    }
    .body-content {
        height: 90%;
    }
    ion-content {
        --background: white !important;
    }
}
@media (min-height: 800px) {
    ion-fab {
        bottom: 56.7vh;
    }
}