.transparent_header {
    --background: #ffd060;
    --color: white;
    ion-back-button {
        margin: 10px 10px;
        color: var(--primary-grey);
        // font-size: 15px;
    }
    &:after {
        background-image: none;
    }
    .toolbar-background-md {
        --background: transparent;
    }
}