<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancelItem()">
        <ion-icon slot="start" name="close-outline" style="font-size:24px"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="cancelItem()" class="btnHeader">
        CANCELAR
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="12">
      <h3 class="product-category">{{category_name }} - {{ product.name }}</h3>
      <p class="product-description">{{ product.description }}</p>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="product.variants.length <= 0">
    <ion-col size="4">
      <span>Cantidad</span>
    </ion-col>
    <ion-col size="5">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4">
            <ion-icon name="remove-circle-outline" (click)="removeCantProduct()" class="icon-controls"></ion-icon>
          </ion-col>
          <ion-col size="2">
            <span style="font-size: 25px;">{{ cantProduct }}</span>
          </ion-col>
          <ion-col size="6">
            <ion-icon name="add-circle-outline" (click)="addCantProduct()" class="icon-controls"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
    <ion-col size="3">&nbsp;</ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col size="12">
      <span class="label-input">Comentario (opcional)</span>
      <ion-list>
        <ion-item color="input-background">
            <ion-input
              [(ngModel)]="comments"
              class="colorBlack"
              name="comments"
              type="text"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row  *ngFor="let item of variants">
    <ion-col size="12">
      <ion-row>
        <ion-col size="12" *ngIf="item.name">
          <ion-label>Elegir {{ item.name }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let data of item.value" style="border-bottom: 1px solid lightgray;">
        <ion-col size="4">
          <ion-grid fixed style="margin-top: 15px;">
            <ion-row>
              <ion-col size="5">
                <ion-icon name="remove-circle-outline" id="remove-ico-{{data.id}}" (click)="removeCantVariant(data.id, data.name)"  class="ico-add"></ion-icon>
              </ion-col>
              <ion-col size="3">
                <span style="font-size: 20px;" id="count-variant-{{data.id}}">0</span>
              </ion-col>
              <ion-col size="4">
                <ion-icon name="add-circle-outline" id="add-ico-{{data.id}}" (click)="addCantVariant(data.id, data.name)" class="ico-add"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col size="8">
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <h4>{{ data.name }}</h4>
              </ion-col>
              <ion-col size="12">
                <ion-label>${{ data.price }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>

  <ion-row  *ngFor="let additional of product.additionals_products">
    <ion-col size="12">
      <ion-row>
        <ion-col size="12">
          <ion-label>Elegir {{ cantAdditionalsViews }} adicionales ({{ additional.type }})</ion-label>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let item of additional.additionals_items" style="border-bottom: 1px solid lightgray;">
        <ion-col size="4">
          <ion-grid fixed style="margin-top: 15px;">
            <ion-row>
              <ion-col size="5">
                <ion-icon name="remove-circle-outline" id="remove-ico-{{item.id}}" (click)="removeCantAdd(additional, item.id, item.name)"  class="ico-add"></ion-icon>
              </ion-col>
              <ion-col size="3">
                <span style="font-size: 20px;" id="count-additional-{{item.id}}">0</span>
              </ion-col>
              <ion-col size="4">
                <ion-icon name="add-circle-outline" id="remove-ico-{{item.id}}" (click)="addCantAdd(additional, item.id, item.name)" class="ico-add"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col size="8">
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <h4>{{ item.name }}</h4>
              </ion-col>
              <ion-col size="12">
                <ion-label>
                  {{ item.description }}
                </ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-label>${{item.price}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>
  <br><br><br>
  <ion-button
    class="fixed-btn"
    shape="round"
    expand="block"
    [disabled]="activeAgregate"
    (click)="addOrder()">
    AGREGAR
  </ion-button>
</ion-content>
