<ion-header>
  <ion-toolbar>
    <h1>Mis datos</h1>
    <ion-buttons slot="start">
      <ion-button (click)="closeProfile()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="saveProfile()" [ngClass]="{'changed-profile': changedInputState}" class="guardarHeader">
        GUARDAR
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content fullscreeen>
  <form class="formProfile" novalidate (submit)="saveProfile()" [formGroup]="form">
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item color="input-background">
              <ion-label class="colorBlack" position="floating" style="font-family: FieldworkGeoRegular;">Nombre
              </ion-label>
              <ion-input class="colorBlack" (ionChange)="changedInput()" [(ngModel)]="user.first_name" formControlName="first_name"
                name="first_name" type="text" required></ion-input>
            </ion-item>

            <ion-item color="input-background">
              <ion-label class="colorBlack" position="floating" style="font-family: FieldworkGeoRegular;">Apellido
              </ion-label>
              <ion-input class="colorBlack" (ionChange)="changedInput()" [(ngModel)]="user.last_name" formControlName="last_name" name="last_name"
                type="text" required></ion-input>
            </ion-item>

            <ion-item color="input-background">
              <ion-label class="colorBlack" position="floating" style="font-family: FieldworkGeoRegular;">Email
              </ion-label>
              <ion-input class="colorBlack" (ionChange)="changedInput()" [(ngModel)]="user.email" formControlName="email" name="email" type="email">
              </ion-input>
            </ion-item>
            <span *ngIf="errors.email.length > 0" class="error-message">
              {{errors.email}}
            </span>

            <ion-item color="input-background">
              <ion-label class="colorBlack" position="floating" style="font-family: FieldworkGeoRegular;">Celular
              </ion-label>
              <ion-input class="colorBlack" (ionChange)="changedInput()" [(ngModel)]="user.phone" formControlName="phone" type="number" name="phone">
              </ion-input>
            </ion-item>
            <span *ngIf="errors.phone" class="error-message">
              {{errors.phone}}
            </span>
            <span class="legend" *ngIf="errors.phone.length <= 0">
              Incluir código de área.
            </span>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="change-passw">
          <span (click)="changePassword()">Cambiar contraseña</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>