<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!isGuest">
      <ion-icon *ngIf="isFav" name="heart" size="large" style="color:orange" (click)="removeFav(restaurant.id)"></ion-icon>
      <ion-icon *ngIf="!isFav" name="heart-outline" size="large" (click)="addFavorite(restaurant)"></ion-icon>
    </ion-buttons>&nbsp;
    <ion-buttons slot="end">
      <ion-icon name="information-circle-outline" size="large" (click)="info(restaurant)"></ion-icon>
    </ion-buttons>&nbsp;
  </ion-toolbar>
</ion-header>

<ion-content #content>

  <ion-row>
    <ion-col size="12">

      <ion-card>
        <ion-text *ngFor="let discount of restaurant.placediscounts; let i = index" id="dto{{ i+1 }}">
          <span *ngIf="discount.place === 'DEL'">Delivery -{{ discount.amount }}%</span>
          <span *ngIf="discount.place === 'LOC'">Take-away -{{ discount.amount }}%</span>
          <span *ngIf="discount.place === 'RES'">Reserva -{{ discount.amount }}%</span>
        </ion-text>
        <img *ngIf="restaurant.profile_picture" [src]="restaurant.profile_picture" [alt]="restaurant.name"/>
        <img *ngIf="!restaurant.profile_picture" src="assets/img/icon.png" alt="img_resto" />

        <ion-card-header>
          <ion-card-title >
            <ion-grid fixed>
              <ion-row>
                <ion-col size="8">
                  <span class="title_resto">{{ restaurant.name }}</span>
                </ion-col>
                <ion-col size="2" class="ion-text-center col-level">
                  <span [innerHTML]="restaurant | level:'0'"></span>
                  <span [innerHTML]="restaurant | level:''" style="color: rgb(156, 156, 156);"></span>
                </ion-col>
                <ion-col size="2" class="ion-text-end col-score">
                  <ion-icon *ngIf="restaurant.qualifications.length > 0" color="btn-dc" name="star"></ion-icon>
                  <span class="qualify">{{ restaurant | score }}</span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-title>

          <ion-card-subtitle>{{ restaurant | chips }}</ion-card-subtitle>
          <p style="color: black;">{{ restaurant | openClose }} - cierra a las {{ restaurant | openClose: true }} hs</p>
          <p *ngIf="restaurant.self_service || restaurant.delivery">Cuenta con <span *ngIf="restaurant.self_service"> retiro por el local</span>
            <span *ngIf="restaurant.delivery"> y delivery</span></p>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="section-qualify">
    <ion-col size="10"class="qualify">Ver calificaciones y reseñas</ion-col>
    <ion-col class="2" (click)="review(restaurant)"><ion-icon name="chevron-forward-outline"></ion-icon></ion-col>
  </ion-row><br>
  <ion-row class="section-slides">
    <ion-col size="12">
      <ion-slides pager="false" [options]="slideOptions">
        <ion-slide *ngFor="let pic of pictures; let i = index">
          <img [src]="pic.brand_picture" [alt]="i" (click)="showModalGalery(i)"/>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row><br>

  <ion-row *ngIf="restaurant.promotions">
    <ion-col size="11" class="col-promo1">
        <div class="promo1-text"><span>{{ restaurant.promotions.promotion }}</span></div>
    </ion-col>
  </ion-row>

  <ion-row class="section-menu">
    <ion-col size="12">
      <h1 class="title_category">Menús del día</h1>
    </ion-col>
    <span class="title_category" *ngIf="menues.length <= 0"> El restaurant no tiene menú del día.</span>
    <ion-slides pager="false" [options]="slideOptionsMenu" class="slide-menu">
      <ion-slide *ngFor="let menu of menues">
        <div class="contenedor">
          <div class="title-menu">
            <span>{{ menu.category.name }}</span><br>
            <span>${{ menu.real_price }} {{ menu.description }}</span>
          </div>
          <div class="description-menu" *ngFor="let submenu of menu.sub_menus">
            <h3>{{ submenu.name }}</h3>
            <p>{{ submenu.value }}</p>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-row>
  <br>
  <ion-row class="section-menu">
    <ion-col size="12">
      <h1 class="title_category">Carta</h1>
    </ion-col>
    <ion-segment scrollable class="segment-options"
      mode="md"
      color="primary">

      <ion-segment-button
        mode="md"
        *ngFor="let category of product_titles"
        [value]="category"
        (click)="scrollTo(category)">
          <ion-label text-capitalize>
            {{category}}
          </ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-row>
  <ion-row *ngFor="let category of product_categories" id="{{ category.name }}">
    <ion-col size="12">
      <h2 class="title_category">{{ category.name }}</h2>
      <div class="content_categories" *ngFor="let product of category.products"  (click)="addItemOrder(category.name, product)">
        <span class="title_product">{{ product.name }}</span><br>
        <span *ngIf="product.description">{{ product.description }} <br></span>
        <span *ngIf="product.variants.length <= 0" style="font-size: 18px;">${{ product.real_price }}</span>
        <span *ngFor="let variant of product.variants">
          ${{ variant.price }} - {{ variant.name }} <br>
        </span>
      </div>
    </ion-col>
  </ion-row>
  <br><br><br>
  <ion-button class="fixed-btn" shape="round">
    Reservar mesa
  </ion-button>

</ion-content>
