<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="price_total === 0">
      <ion-icon size="large" name="arrow-back" (click)="toBack()"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="price_total !== 0">
      <ion-icon size="large" name="arrow-back" (click)="showAlertBack()"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!isGuest">
      <ion-icon *ngIf="isFav" name="heart" size="large" style="color:#F89B4C;" (click)="removeFav(restaurant.id)"></ion-icon>
      <ion-icon *ngIf="!isFav" name="heart-outline" size="large" (click)="addFavorite(restaurant)"></ion-icon>
    </ion-buttons>&nbsp;
    <ion-buttons slot="end">
      <!-- <ion-icon name="information-circle-outline" size="large" (click)="info(restaurant)"></ion-icon> -->
      <img
        (click)="info(restaurant)"
        style="width: 38px;"
        src="assets/img/dc_ico_info.png" alt="info">
    </ion-buttons>&nbsp;
  </ion-toolbar>
</ion-header>

<ion-content #content>

  <ion-row>
    <ion-col size="12">

      <ion-card>
        <ion-text *ngFor="let discount of restaurant.placediscounts; let i = index" id="dto{{ i+1 }}">
          <span *ngIf="discount.place === 'DEL' && discount | validateDiscount">Delivery {{ discount.amount }}% dto</span>
          <span *ngIf="discount.place === 'LOC' && discount | validateDiscount">Take-away {{ discount.amount }}% dto</span>
          <span *ngIf="discount.place === 'RES' && discount | validateDiscount">Reserva {{ discount.amount }}% dto</span>
        </ion-text>
        <img *ngIf="restaurant.profile_picture" [src]="restaurant.profile_picture" [alt]="restaurant.name"/>
        <img *ngIf="!restaurant.profile_picture" src="assets/img/icon.png" alt="img_resto" />

        <ion-card-header>
          <ion-card-title >
            <ion-grid fixed>
              <ion-row>
                <ion-col size="8">
                  <span class="title_resto">{{ restaurant.name }}</span>
                </ion-col>
                <ion-col size="2" class="ion-text-center col-level">
                  <span [innerHTML]="restaurant | level:'0'"></span>
                  <span [innerHTML]="restaurant | level:''" style="color: rgb(156, 156, 156);"></span>
                </ion-col>
                <ion-col size="1" class="ion-text-end col-score-icon">
                  <ion-icon *ngIf="restaurant.qualifications.length > 0" name="star"></ion-icon>
                </ion-col>
                <ion-col size="1" class="ion-text-end col-score" style="margin-top: 4px;">
                  <span>{{ restaurant | score }}</span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-title>

          <ion-card-subtitle>{{ restaurant | chips }}</ion-card-subtitle>
          <p >{{ restaurant | openClose:true }}</p>
          <p class="self-service" *ngIf="restaurant.self_service || restaurant.delivery">Cuenta con <span *ngIf="restaurant.self_service"> retiro por el local</span>
            <span *ngIf="restaurant.delivery"> y delivery</span></p>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row (click)="review(restaurant)" class="section-qualify">
    <ion-col size="10"class="qualify">Ver calificaciones y reseñas</ion-col>
    <ion-col class="2 icon-col"><ion-icon name="chevron-forward-outline"></ion-icon></ion-col>
  </ion-row><br>
  <ion-row class="section-slides">
    <ion-col size="12">
      <ion-slides pager="false" [options]="slideOptions">
        <ion-slide *ngFor="let pic of pictures; let i = index">
          <img [src]="pic.brand_picture" [alt]="i" (click)="showModalGalery(i)"/>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row><br>

  <ion-row *ngIf="restaurant.promotions">
    <div class="col-promo1">
        <div class="promo1-text"><span>{{ restaurant.promotions.promotion | uppercase }}</span></div>
    </div>
  </ion-row>

  <ion-row class="section-menu">
    <ion-col size="12">
      <h2>Menús del día</h2>
    </ion-col>
    <p *ngIf="menues.length <= 0" class="legend-menu">El restaurante no cuenta con menús del día.</p>
    <ion-slides pager="false" [options]="slideOptionsMenu" *ngIf="menues.length > 0">
      <ion-slide *ngFor="let menu of menues" (click)="addMenu(menu)">
        <div class="contenedor">
          <div class="title-menu">
            <h4>{{ menu.name }}</h4>
            <p> <span>${{ menu.real_price }}</span> {{ menu.description }}</p>
          </div>
          <div class="description-menu">
            <span *ngFor="let submenu of menu.sub_menus">
              <h4>{{ submenu.name }}</h4>
              <p>{{ submenu.value }}</p><br>
            </span>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-row>
  <br>
  <ion-row class="section-menu sticky-row">
    <ion-col size="12">
      <h2>Carta</h2>
    </ion-col>
    <ion-segment scrollable="true" class="segment-options"
      mode="md"
      [value]="product_titles[0]">
      <ion-segment-button
        mode="md"
        *ngFor="let category of product_titles"
        [value]="category"
        (click)="scrollTo(category)">
          <ion-label  class="list-title" text-capitalize>
            {{category}}
          </ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-row>
  <ion-row class="category-list" *ngFor="let category of product_categories" id="{{ category.name }}">
    <ion-col size="12">
      <h5 class="title_category">{{ category.name }}</h5>
      <div class="content_categories" *ngFor="let product of category.products"  (click)="addItemOrder('ORDER', category.name, product)">
        <span class="title_product">{{ product.name }}</span><br>
        <div class="product_description"><span  *ngIf="product.description">{{ product.description }} <br></span></div>
        <span *ngIf="product.variants.length <= 0">${{ product.real_price }}</span>
        <span *ngFor="let variant of product.variants">
          ${{ variant.price }} - {{ variant.name }} <br>
        </span>
      </div>
    </ion-col>
  </ion-row>
  <br><br><br>

  <ion-button
    *ngIf="price_total === 0 && restaurant.reservations"
    (click)="bookTable()"
    class="fixed-btn"
    [disabled]="product_categories.length <= 0"
    shape="round">
    Reservar mesa
  </ion-button>
  <ion-button
    *ngIf="price_total !== 0"
    (click)="viewOrders()"
    class="fixed-btn"
    shape="round">
    Ver pedido &nbsp;&nbsp; Total: ${{price_total}}
  </ion-button>

</ion-content>
