ion-card{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    // height: 40vh;
    box-shadow: none;
    // margin-bottom: 0;
    #dto1{
        position: absolute;
        font-size: 5vw;
        background-color: orange;
        height: 6vw;
        top: 4%;
        left: 0;
        padding-left: 1vw;
        color: black;
        border-radius: 0px 6px 6px 0px;
        font-family: FieldworkHumHair;
    }
    #dto2{
        position: absolute;
        font-size: 5vw;
        background-color: orange;
        height: 6vw;
        top: 14%;
        left: 0;
        padding-left: 1vw;
        color: black;
        border-radius: 0px 6px 6px 0px;
        font-family: FieldworkHumHair;
    }
    #dto3{
        position: absolute;
        font-size: 5vw;
        background-color: orange;
        height: 6vw;
        top: 24%;
        left: 0;
        padding-left: 1vw;
        color: black;
        border-radius: 0px 6px 6px 0px;
        font-family: FieldworkHumHair;
    }
    img{
        border-radius: 15px;
        width: 100%;
        height: 48vw;
        object-fit: cover;
        // padding: 0 10px 0 10px;
    }
    ion-card-header{
        padding-top: 7px;
        padding-right: 0;
        padding-left: 1vw;
        ion-card-title{
            font-family: DMSerifDisplayRegular;
            font-size: 5vw;
        }
        ion-card-subtitle{
            font-family: FieldworkGeoRegular;
            margin-top: 4px;
            font-size: 4vw;
            text-transform: capitalize;
        }
        p{
            font-family: FieldworkGeoRegular;
            font-size: 4vw;
            margin-top: 4px;
            margin-bottom: 0;
        }
    }

}

ion-col{
    padding: 0;
}

@media (min-height: 750px) {
    ion-card{
        height: 32vh;
    }
}

.col-level, .col-score {
    padding: 5px;
    font-family: FieldworkGeoRegular;
}

.col-score {
    color: #ff7300;
    font-family: FieldworkGeoRegular;
    span {
        padding-top: -5px;
    }
    ion-icon {
        padding-top: 1px;
    }
}

.level {
    color:red !important;
}

.title_resto {
    font-size: 25px;
    font-family: DMSerifDisplayRegular;
}

.section-qualify {
    height: 12vw;
    background-color: rgb(252, 231, 217);
}

.section-qualify > ion-col {
    padding: 15px;
    font-size: 21px;
    color: rgb(88, 88, 88);
}

.qualify {
    margin-top: -6px;
}

.section-slides {
    margin-top: 5px;
    margin-bottom: 5px;
}

ion-slides {
    margin: 5px 10px 5px 10px;
    // height: 20vw;
}

ion-slide {
    img {
        width: 90%;
        border-radius: 12%;
    }
}

.fixed-btn {
    position: fixed;
    left: 10%;
    bottom: 10px;
    right: 0;
    width: 80%;
    height: 12vw;
    z-index: 100;
    --color: black;
    text-transform: none;
    font-family: FieldworkHumHair;
    font-size: 1rem;
    --padding-bottom: 23px;
    --padding-top: 23px;
    letter-spacing: 0.05rem;
}

.col-promo1 {
    background-color: orange;
    border-radius: 0px 8px 8px 0px;
    height: 17vw;
}

.promo1-text {
    text-align: justify;
    font-size: 5vw;
    top: 2%;
    bottom: 2%;
    left: 0;
    padding: 3vw;
    color: black;
    font-family: FieldworkHumHair;
}

.contenedor {
    border: 0.1rem solid lightgray;
    border-radius: 10px;
    width: 92%;
}

.title-menu {
    border-bottom: 0.1rem solid lightgray;
}

.title-menu, .description-menu {
    text-align: left;
    margin: 12px;
    font-family: DMSerifDisplayRegular;
}

.swiper-wrapper {
    ion-slide {
        width: 125px;
        border-radius: 10px;
        // margin-top: 10px;
        // margin-left: 3px;
    }
}

::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none !important;
    overflow: hidden !important;
 }

 .title_category {
     margin-left: 20px;
 }

 .content_categories {
    margin-left: 30px;
    border-bottom: 1px solid lightgray;
    padding: 8px;
    margin-bottom: 5px;
}

.title_product {
    font-size: 20px;
    font-weight: bold;
    font-family: FieldworkHumHair;
}

ion-segment-button::part(indicator) {
    width: 0;
}

ion-segment-button {
    height: 30px;
    min-height: 30px;
    ion-label {
        margin: 2px;
    }
}

.segment-options {
    margin-left: 20px;
}

.segment-button-checked {
    --border-color: orange;
    --border: 1px solid red;
    --border-radius: 25px;
    --border-style: solid;
    --height: 10vw;
}

:host(.segment-button-has-label-only) ::slotted(ion-label) {
    margin-top: 3px;
    margin-bottom: 3px;
}

.segment-button {
    border-style: none;
    border-color: #e62100;
    color: #e62100;
    border-width: thin;
  }

.segment-activated {
    background-color: #e62100;
    color: #ffffff;
    --border-style: solid;
}

ion-toolbar {
    ion-buttons {
        padding:0 10px 0 10px;
    }
}