<app-header title=""></app-header>

<ion-content>
    <div class="header-content">
    </div>
    <div class="body-content">
        <form novalidate (submit)="doRegister()" [formGroup]="form">
            <div class="bg-btn">
                <ion-button [disabled]="form.invalid" size="large" type="submit" class="login-btn">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-button>
            </div>
            <ion-grid fixed>
                <ion-row>
                    <ion-col>
                        <h2>Recuperar contraseña</h2>
                    </ion-col>
                    
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h3 style="font-family:FieldworkGeoRegular; font-size:16px;">Ingrese su email. Le enviaremos 
                            un código para reestablecer 
                            su contraseña.</h3>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-list>

                            <ion-item color="input-background">
                                <ion-label class="colorBlack" position="floating">Email</ion-label>
                                <ion-input
                                    class="colorBlack"
                                    [(ngModel)]="userRegister.email"
                                    (ionChange)="checkEmail()"
                                    formControlName="email"
                                    name="email"
                                    type="email"
                                    ></ion-input>
                            </ion-item>
                            <span *ngIf="errors.email" class="error-message">
                                {{errors.email}}
                            </span>

                        </ion-list>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content>