<app-header title=""></app-header>

<ion-content>
    <div class="header-content">
    </div>
    <div class="body-content">
        <form novalidate (submit)="doRegister()" [formGroup]="form">
            <ion-fab horizontal="end" horizontal="end" slot="fixed" edge="true">
                <ion-button [disabled]="form.invalid" size="large" type="submit">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-button>
            </ion-fab>
            <ion-grid fixed>
                <ion-row>
                    <ion-col>
                        <h2>Recuperar contraseña</h2>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-list>

                            <ion-item>
                                <ion-label position="floating">Email</ion-label>
                                <ion-input
                                    [(ngModel)]="userRegister.email"
                                    (ionChange)="checkEmail()"
                                    formControlName="email"
                                    name="email"
                                    type="email"
                                    ></ion-input>
                            </ion-item>
                            <span *ngIf="errors.email" class="error-message">
                                {{errors.email}}
                            </span>

                        </ion-list>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content>