ion-header {
    box-shadow: -3px 4px 5px rgba(0, 0, 0, 0.2);
    h1 {
        margin: 10px 0px 10px 14vw;
        width: 100%;
        font-size: 1.8rem;
        font-family: DMSerifDisplayRegular;
        font-weight: lighter;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.body-content {
    position: relative;
    z-index: 1;
    background-color: #fff3e0 !important;
    border-radius: 58px 58px 0 0;
    padding-top: 10vh;
    height: 66%;
    width: 100%;
}

.pic {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -75px;
    width: 100vw;
}

.pic-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--bg-primary-tint);
    width: 145px;
    height: 145px;
    h1 {
        text-transform: capitalize;
        font-size: 2rem;
        font-family: FieldworkGeoThin;
    }
}

.nombre {
    font-size: 2rem;
    font-family: DMSerifDisplayRegular;
    font-weight: lighter;
    margin-bottom: 4vh;
}

.label {
    font-size: 1rem;
    font-family: FieldworkGeoThin;
    letter-spacing: 0.6px;
}

ion-row {
    margin-bottom: 10px;
}


.legendh1 {
    --color: black;
    font-family: FieldworkHumHair;
    font-size: 20px;
    margin: 10px;
}

.formProfile {
    ion-item {
        margin: 30px 30px 0 30px;
    }
}

.legend {
    color: rgb(129, 129, 129);
    margin-left: 30px;
}

.change-passw {
    margin-left: 32px;
}

.error-message {
    color: red;
    margin-left: 10px;
}

.legal-css {
    font-family: DMSerifDisplayRegular;
}
