<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="menuHide" class="perfilTitulo">Perfil</ion-title>
    <ion-title *ngIf="legal" class="perfilTitulo">Legal</ion-title>
    <ion-title *ngIf="profile" class="perfilTitulo">Mis datos</ion-title>

    <ion-buttons slot="start" *ngIf="legal">
      <ion-button (click)="closeLegal()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start" *ngIf="profile">
      <ion-button (click)="closeProfile()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="profile">
      <ion-button (click)="saveProfile()" class="guardarHeader">
        GUARDAR
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="guestStatus" fullscreeen>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <div class="header-content">
            <div class="logo">
                <img src="assets/img/register.png">
            </div>
        </div>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
    <ion-row class="legendh1">
      <ion-col size="12" class="ion-text-justify">
        <span>Por favor inicie sesión o regístrese
          para ver sus restaurantes favoritos</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="login()" class="cnx_btn" expand="block" fill="clear" shape="round">
          Iniciar Sesión
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="register()" class="cnx_btn" expand="block" fill="clear" shape="round">
          Registrarse
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="legendh1">
      <ion-col size="12" class="ion-text-center">
        <span>O ingresar con</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="loginGoogle()" class="cnx_btn" expand="block" fill="clear" shape="round">
          Google
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="loginFcbk()" class="cnx_btn" expand="block" fill="clear" shape="round">
          Facebook
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="menuHide && !guestStatus" fullscreeen>
  <div class="content">
    <div class="body-content">

        <div class="pic">
            <div class="pic-content">
                <h1>{{ initals }}</h1>
            </div>
        </div>
        <ion-grid fixed class="ion-text-center">
          <ion-row>
            <ion-col size="12"><h1 class="DMSerifDisplayRegular" style="font-size: 28px;">{{ user.first_name }} {{ user.last_name }}</h1></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" (click)="dataView()"><label class="DMSerifDisplayRegular" style="font-size: 16px;">Mis datos</label></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" (click)="legalView()"><label class="DMSerifDisplayRegular" style="font-size: 16px;">Legal</label></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" (click)="logOut()"><label class="DMSerifDisplayRegular" style="font-size: 16px;">Cerrar Sesión</label></ion-col>
          </ion-row>
        </ion-grid>
    </div>
  </div>
</ion-content>

<ion-content *ngIf="legal" fullscreeen>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <h2 (click)="legalModal()" class="legal-css">Condiciones de uso</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <h2 (click)="policyModal()" class="legal-css">Políticas de privacidad</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="profile" fullscreeen>
  <form class="formProfile" novalidate (submit)="saveProfile()" [formGroup]="form">
    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item color="input-background">
                        <ion-label class="colorBlack" position="floating" style="font-family: FieldworkGeoRegular;">Nombre</ion-label>
                        <ion-input
                            class="colorBlack"
                            [(ngModel)]="user.first_name"
                            formControlName="first_name"
                            name="first_name"
                            type="text"
                            required></ion-input>
                    </ion-item>

                    <ion-item color="input-background">
                        <ion-label class="colorBlack" position="floating" style="font-family: FieldworkGeoRegular;">Apellido</ion-label>
                        <ion-input
                            class="colorBlack"
                            [(ngModel)]="user.last_name"
                            formControlName="last_name"
                            name="last_name"
                            type="text"
                            required></ion-input>
                    </ion-item>

                    <ion-item color="input-background">
                        <ion-label class="colorBlack" position="floating" style="font-family: FieldworkGeoRegular;">Email</ion-label>
                        <ion-input
                            class="colorBlack"
                            [(ngModel)]="user.email"
                            (input)="checkEmail()"
                            formControlName="email"
                            name="email"
                            type="email"
                            ></ion-input>
                    </ion-item>
                    <span *ngIf="errors.email" class="error-message">
                        {{errors.email}}
                    </span>

                    <ion-item color="input-background">
                        <ion-label class="colorBlack" position="floating" style="font-family: FieldworkGeoRegular;">Celular</ion-label>
                        <ion-input
                            class="colorBlack"
                            [(ngModel)]="user.phone"
                            formControlName="phone"
                            type="number"
                            name="phone"
                        ></ion-input>
                    </ion-item>
                    <span *ngIf="errors.phone" class="error-message">
                        {{errors.phone}}
                    </span>
                    <span  class="legend" *ngIf="errors.phone.length <= 0">
                      Incluir código de área.
                    </span>

                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</form>
</ion-content>
<ion-footer *ngIf="profile">
  <ion-toolbar>
    <span class="change-passw" (click)="changePassword()">Cambiar contraseña</span>
  </ion-toolbar>
</ion-footer>