ion-header {
    box-shadow: -3px 4px 5px rgba(0, 0, 0, 0.2);
    h1 {
        margin: 10px 0px 10px 14vw;
        width: 100%;
        font-size: 1.8rem;
        font-family: DMSerifDisplayRegular;
        font-weight: lighter;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.body-content {
    position: relative;
    z-index: 1;
    background-color: #fff3e0 !important;
    border-radius: 58px 58px 0 0;
    padding-top: 10vh;
    height: 66%;
    width: 100%;
}

.pic {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -75px;
    width: 100vw;
}

.pic-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--bg-primary-tint);
    width: 145px;
    height: 145px;
    h1 {
        text-transform: capitalize;
        font-size: 2rem;
        font-family: FieldworkGeoThin;
    }
}

.nombre {
    font-size: 2rem;
    font-family: DMSerifDisplayRegular;
    font-weight: lighter;
    margin-bottom: 4vh;
}

.label {
    font-size: 1rem;
    font-family: FieldworkGeoThin;
    letter-spacing: 0.6px;
}

ion-row {
    margin-bottom: 10px;
}

// .header-content {
//     background-color: blue;
//     height: 7%;
// }
// .pic-content {
//     width: 145px;
//     height: 145px;
//     margin: 0 45% -2% 45%;
//     position: relative;
//     z-index: 2;
//     border-radius: 200px 200px 200px 200px;
//     -moz-border-radius: 200px 200px 200px 200px;
//     -webkit-border-radius: 200px 200px 200px 200px;
//     background-color: #ffbb61 !important;
//     -webkit-box-shadow: 2px 8px 5px -5px rgba(209, 209, 209, 1);
//     -moz-box-shadow: 2px 8px 5px -5px rgba(209, 209, 209, 1);
//     box-shadow: 2px 8px 5px -5px rgba(209, 209, 209, 1);
//     h1 {
//         text-align: center;
//         position: relative;
//         top: 50%;
//         -ms-transform: translateY(-50%);
//         -webkit-transform: translateY(-50%);
//         transform: translateY(-50%);
//     }
// }
// ion-row {
//     margin-bottom: 30px;
//     h1 {
//         font-size: 25px;
//     }
//     label {
//         font-size: 18px;
//         font-weight: lighter;
//         font-family: Arial, Helvetica, sans-serif;
//     }
// }
// @media (max-width: 576px) {
//     // PARA CELULAR
//     .pic-content {
//         margin: 0 45% -10% 32%;
//     }
//     .body-content {
//         height: 73.02%;
//     }
//     ion-row {
//         h1 {
//             font-size: 35px;
//         }
//     }
// }
// @media (max-width:900px) and (min-width:731px) {
//     // PARA CELULAR CUANDO GIRA
//     .header-content {
//         height: 5%;
//     }
//     .pic-content {
//         margin: 0 0 -3% 42%;
//     }
//     .body-content {
//         height: 78%;
//     }
//     ion-row {
//         margin-bottom: 5px;
//         h1 {
//             font-size: 22px;
//         }
//         label {
//             font-size: 15px;
//             font-weight: lighter;
//             font-family: Arial, Helvetica, sans-serif;
//         }
//     }
// }