<ion-header>
  <ion-toolbar>
    <h1 *ngIf="menuHide || guestStatus">Perfil</h1>
    <h1 *ngIf="legal">Legal</h1>
    <h1 *ngIf="profile">Mis datos</h1>

    <ion-buttons slot="start" *ngIf="legal">
      <ion-button (click)="closeLegal()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start" *ngIf="profile">
      <ion-button (click)="closeProfile()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="profile">
      <ion-button (click)="saveProfile()" class="guardarHeader">
        GUARDAR
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="pnt-inicio" *ngIf="guestStatus">
    <ion-grid fixed>
        <ion-row class="ion-justify-content-center ion-margin-top">
            <ion-col size="8">
                <div class="img-cont">
                    <img class="logo" src="../../../assets/img/perfil.svg">
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="legendh1">
            <ion-col size="12">
                <p>Por favor inicie sesión o regístrese para ver sus restaurantes favoritos</p>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size=" 12 " class="ion-padding-top ion-padding-bottom">
                <ion-button (click)="login() " class="cnx_btn " expand="block " fill="clear " shape="round ">
                    Iniciar Sesión
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12 " class="ion-padding-top">
                <ion-button (click)="register() " class="cnx_btn " expand="block " fill="clear " shape="round ">
                    Registrarse
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row class="legendh1">
            <ion-col size="12">
                <p>O ingresar con</p>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6 " class="ion-margin-bottom">
                <ion-button (click)="loginGoogle() " class="cnx_btn " expand="block " fill="clear " shape="round ">
                    Google
                </ion-button>
            </ion-col>
            <ion-col size="6 " class="ion-margin-bottom">
                <ion-button (click)="loginFcbk() " class="cnx_btn " expand="block " fill="clear " shape="round ">
                    Facebook
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-content *ngIf="menuHide && !guestStatus" fullscreeen>
  <div class="content">
    <div class="body-content">

        <div class="pic">
            <div class="pic-content">
                <h1>{{ initals }}</h1>
            </div>
        </div>
        <ion-grid fixed class="ion-text-center">
          <ion-row>
            <ion-col size="12"><h1 class="DMSerifDisplayRegular" style="font-size: 28px;">{{ user.first_name }} {{ user.last_name }}</h1></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" (click)="dataView()"><label class="FieldworkGeoLight" style="font-size: 16px;">Mis datos</label></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" (click)="viewCards()"><label class="FieldworkGeoLight" style="font-size: 16px;">Tarjetas</label></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" (click)="legalView()"><label class="FieldworkGeoLight" style="font-size: 16px;">Legal</label></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" (click)="logOut()"><label class="FieldworkGeoLight" style="font-size: 16px;">Cerrar Sesión</label></ion-col>
          </ion-row>
        </ion-grid>
    </div>
  </div>
</ion-content>

