

.cnx_btn {
    --color: black;
    margin-bottom: 30px;
    text-transform: none;
    font-family: FieldworkGeoLight;
    --background: var(--bg-primary-tint);
    font-size: 1rem;
    --padding-bottom: 23px;
    --padding-top: 23px;
    letter-spacing: 0.05rem;
}