<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <h2>Reseña</h2>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="main" fixed>
        <ion-row class="main-title">
            <p>Por favor, califique su experiencia en</p>
            <h2>La Consentida</h2>
            <p>La comunidad de Donde comemos se lo agradecerá.</p>
        </ion-row>
        <ion-row class="review">
            <ion-item>
                <ion-label position="floating">Reseña</ion-label>
                <ion-input
                    (ionChange)="setReview($event)"
                    name="review">
                </ion-input>
            </ion-item>
        </ion-row>
    </ion-grid>
    <ion-button
        class="fixed-btn"
        (click)="save()"
        shape="round">
        ENVIAR
    </ion-button>
</ion-content>