<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button icon="close"></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="!card">Nueva Tarjeta</ion-title>
        <ion-title *ngIf="card">Editar Tarjeta</ion-title>
        <ion-buttons slot="end">
            <ion-button
                *ngIf="!card"
                [color]="!registrationForm.valid ? 'medium' : 'primary'"
                [disabled]="!registrationForm.valid"
                type="submit" form="card-form"
                (click)="createCard()" fill="clear" shape="round">
                GUARDAR
            </ion-button>
            <ion-button
                *ngIf="card"
                [color]="!registrationForm.valid ? 'medium' : 'primary'"
                [disabled]="!registrationForm.valid"
                type="submit" form="card-form"
                (click)="updateCard()" fill="clear" shape="round">
                MODIFICAR
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding-start ion-padding-top">
        <form class="ion-padding-start ion-padding-top" id="card-form" 
            [formGroup]="registrationForm" (ngSubmit)="createCard()">
            <ion-list>

                <!-- NOMBRE -->
                <ion-item [ngClass]="{'focus-item': isFocus.titularFocus}">
                    <ion-label position="floating">Nombre y apellido del titular</ion-label>
                    <ion-input
                        [(ngModel)]="form.titular"
                        (ionBlur)="inputBlur('titularFocus')"
                        (ionFocus)="inputFocus('titularFocus')"
                        class="ion-text-uppercase" autocapitalize inputmode="text"
                        formControlName="titular"></ion-input>
                </ion-item>
                <div class="alerts">
                    <div>
                        <ng-container>
                            <small class="label-font-size description-color">Tal cual está impreso en la tarjeta</small>
                        </ng-container>
                    </div>
                    <div *ngFor="let error of errorMessages.titular">
                        <ng-container *ngIf="titular.hasError(error.type) && (titular.dirty || titular.touched)">
                            <small class="label-font-size danger-color">{{error.message}}</small>
                        </ng-container>
                    </div>
                </div>

                <!-- DNI -->
                <ion-item [ngClass]="{'focus-item': isFocus.documentFocus}">
                    <ion-label position="floating">DNI del titular</ion-label>
                    <ion-input
                        [(ngModel)]="form.document"
                        (ionBlur)="inputBlur('documentFocus')"
                        (ionFocus)="inputFocus('documentFocus')" inputmode="numeric"
                        type="number" formControlName="document"></ion-input>
                </ion-item>
                <div class="alerts">
                    <div *ngFor="let error of errorMessages.document">
                    <ng-container *ngIf="document.hasError(error.type) && (document.dirty || document.touched)">
                        <small class="label-font-size danger-color">{{error.message}}</small>
                    </ng-container>
                </div>
                </div>


                <!-- NUMERO TARJETA -->
                <ion-item id="item-card-icon" [ngClass]="{'focus-item': isFocus.numberFocus}">
                    <ion-row>
                        <ion-col size="9">
                            <ion-label position="floating">Número de tarjeta</ion-label>
                            <ion-input
                                [(ngModel)]="form.number"
                                (ionBlur)="inputBlur('numberFocus')"
                                (ionFocus)="inputFocus('numberFocus')"
                                inputmode="numeric" type="number"
                                formControlName="number"></ion-input>
                        </ion-col>
                        <!-- <ion-col size="3" class="logo-card">
                            <img  src="../../../assets/logos/visa.png" alt="visa" >
                        </ion-col> -->
                        <!-- <ion-col size="3" class="logo-card">
                            <img class="logo-height"  src="../../../assets/logos/Diners-Club.png" alt="diners-club" >
                        </ion-col> -->
                        <!-- <ion-col size="3" class="logo-card">
                                <img  src="../../../assets/logos/american-express.png"
                                    alt="a-express">
                        </ion-col> -->
                        <ion-col size="3" class="logo-card">
                            <img class="logo-height" src="../../../assets/logos/mastercard.png" alt="mastercard">
                        </ion-col>
                    </ion-row>
                </ion-item>
                <div class="alerts">
                    <div *ngFor="let error of errorMessages.number">
                        <ng-container *ngIf="number.hasError(error.type) && (number.dirty || number.touched)">
                            <small class="label-font-size danger-color">{{error.message}}</small>
                        </ng-container>
                    </div>
                </div>

                <!-- FECHA EXPIRACION -->
                <div class="item-question">
                    <ion-item [ngClass]="{'focus-item':  isFocus.expireFocus}">
                        <ion-label position="floating">Fecha de expiración</ion-label>
                        <ion-input
                            [(ngModel)]="form.expire"
                            (ionBlur)="inputBlur('expireFocus')"
                            (ionFocus)="inputFocus('expireFocus')"
                            formControlName="expire"></ion-input>
                    </ion-item>
                    <div class="icon-question">
                        <ion-icon (click)="expirationPopover($event)" name="help-circle"></ion-icon>
                    </div>
                </div>
                <div class="alerts">
                    <ng-container>
                        <small class="label-font-size description-color">MM/AA</small>
                    </ng-container>
                    <div *ngFor="let error of errorMessages.expire">
                        <ng-container
                            *ngIf="expire.hasError(error.type) && (expire.dirty || expire.touched)">
                            <small class="label-font-size danger-color">{{error.message}}</small>
                        </ng-container>
                    </div>
                </div>

                <!-- CODIGO SEGURIDAD -->
                <!-- <div class="item-question">
                    <ion-item [ngClass]="{'focus-item': isFocus.securityCodeFocus}">
                        <ion-label position="floating">Codigo de Seguridad</ion-label>
                        <ion-input (ionBlur)="inputBlur('securityCodeFocus')"
                            (ionFocus)="inputFocus('securityCodeFocus')" inputmode="numeric"
                            formControlName="securityCode"></ion-input>
                    </ion-item>
                    <div class="icon-question">
                        <ion-icon name="help-circle" (click)="securityPopover()"></ion-icon>
                    </div>
                </div>
                <div class="alerts">
                    <div *ngFor="let error of errorMessages.securityCode">
                        <ng-container
                            *ngIf="securityCode.hasError(error.type) && (securityCode.dirty || securityCode.touched)">
                            <small class="label-font-size danger-color">{{error.message}}</small>
                        </ng-container>
                    </div>
                </div> -->
            </ion-list>
        </form>
    </div>
</ion-content>