<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon size="large" name="arrow-back" (click)="showAlertBack()"></ion-icon>
        </ion-buttons>
        <ion-title>Reserva Mesa</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <h2>¿Cuántas personas?</h2>
        <small style="color:rgb(143, 143, 143); font-family: Arial, Helvetica, sans-serif;">Capacidad máx.: {{ restaurant.max_diners }} personas.</small>
        <ion-row class="people-counter">
            <ion-col size="6">
                <p>{{ countPeople }}</p>
            </ion-col>
            <ion-col size="6">
                <div>
                    <ion-button class="button-padding" (click)="removePeople()" fill="clear">
                        <img src="../../../assets/buttons/book-table/minus-button.svg" alt="" srcset="">
                    </ion-button>
                    <ion-button (click)="addPeople()" fill="clear">
                        <img src="../../../assets/buttons/book-table/plus-button.svg" alt="" srcset="">
                    </ion-button>
                </div>

            </ion-col>
        </ion-row>
        <h2>Elija la fecha</h2>
        <ion-row class="choose-date">
            <ion-segment scrollable="true" value="lun" mode="md">
                <ion-segment-button
                    *ngFor="let item of days"
                    (click)="checkHours(item)"
                    mode="md"
                    [value]="item.day">
                    <div>
                        <p class="day">{{ item.day}}</p>
                        <p>{{ item.date | slice:-2 }}</p>
                    </div>
                </ion-segment-button>
            </ion-segment>
        </ion-row>
        <h2>Seleccione hora</h2>
        <p *ngIf="hours.length <= 0" style="color: rgb(168, 167, 167);"> {{ message_hours }} </p>
        <ion-row class="choose-hour" *ngIf="hours.length > 0">
            <ion-segment scrollable="true" value="" mode="md">
                <ion-segment-button
                    *ngFor="let hour of hours" (click)="selectHour($event, hour)"
                    mode="md"
                    id="option-{{ hour }}"
                    [value]="hour">
                    <div>
                        <p class="day">{{ hour }}</p>
                    </div>
                </ion-segment-button>
            </ion-segment>
        </ion-row>
        <ion-row class="pre-order-question">
            <ion-col size="12">
                <h2>¿Querés pre-ordenar la comida?</h2>
            </ion-col>
            <ion-col size="2">&nbsp;</ion-col>
            <ion-col size="8">
                <div class="wrapper">
                    <div [ngClass]="{'check-color' : preOrder}" (click)="preOrderAnswer(false)">
                        <p>No</p>
                    </div>
                    <div [ngClass]="{'check-color' : !preOrder}" (click)="preOrderAnswer(true)">
                        <p> Si </p>
                    </div>
                </div>
            </ion-col>
            <ion-col size="2">&nbsp;</ion-col>
        </ion-row>
        <h2>Motivo (opcional)</h2>
        <ion-row class="reason">
            <section>
                <ion-button [ngClass]="{'check-color-button' : cumpleanos}" (click)="check('Cumpleaños')" size="small" >Cumpleaños</ion-button>
                <ion-button [ngClass]="{'check-color-button' : cita}" (click)="check('Cita')" size="small" >Cita</ion-button>
                <ion-button [ngClass]="{'check-color-button' : aniversario}" (click)="check('Aniversario')" size="small" >Aniversario</ion-button>
                <ion-button [ngClass]="{'check-color-button' : laboral}" (click)="check('Laboral')" size="small" >Laboral</ion-button>
                <ion-button [ngClass]="{'check-color-button' : otro}" (click)="check('Otro')" size="small" >Otro</ion-button>
            </section>
        </ion-row>
        <h2>Comentario (opcional)</h2>
        <ion-row class="commentary">
            <section>
                <ion-item color="input-background">
                    <ion-label class="colorBlack" position="floating">Comentario</ion-label>
                    <ion-input class="colorBlack" [(ngModel)]="option_select.comments"></ion-input>
                  </ion-item>
            </section>
        </ion-row>
    </ion-grid>
    <br><br>
    <ion-button
    [disabled]="deactiveNextStep"
    *ngIf="!preOrder"
    class="fixed-btn"
    shape="round"
    (click)="goToPreOrder()">
    CONTINUAR
  </ion-button>
  <ion-button
    *ngIf="preOrder"
    [disabled]="deactiveNextStep"
    class="fixed-btn"
    shape="round"
    (click)="goToReserve()">
    RESERVAR MESA
  </ion-button>
</ion-content>