* {
    color: #1d252d;
}
ion-content {
    ion-grid {
        padding-left: 5vw;
        padding-top: 6.5vw;
        h2 {
            margin: 0;
            font-family: DMSerifDisplayRegular;
            font-size: 20px;
        }
        .people-counter {
            padding: 5vw 5vw 15vw 5vw;
            ion-col {
                padding: 0;
                height: 64px;
                p {
                    font-size: 48px;
                    font-family: FieldworkGeoLight;
                    margin: 0;
                    transform: scaleY(1.55);
                    position: absolute;
                    bottom: 0;
                    color: #ffc95a;
                }
                div {
                    position: absolute;
                    bottom: 0;
                    height: 40px;
                    ion-button {
                        width: 40px;
                        height: 40px;
                        --padding-end: 0;
                        --padding-start: 0;
                        margin: 0;
                    }
                    .button-padding {
                        margin-right: 40px;
                    }
                }
            }
        }
        .choose-date {
            ion-segment {
                --background: white;
                margin: 10vw 0 15vw 0;
                ion-segment-button {
                    width: 48px !important;
                    height: 56px;
                    --border-style: solid;
                    margin-right: 24px;
                    --background: white;
                    --background-checked: #ffc95a;
                    --indicator-color: transparent !important;
                    --border-width: 1px;
                    --border-color: #1d252d;
                    --border-radius: 9.6px;
                    --indicator-box-shadow:none;                 
                    
                    div {
                        font-size: 16px;
                        font-family: FieldworkGeoLight;
                           text-align: center;
                        position: absolute;
                        right: 37px;
                        text-transform: capitalize;
                        p {
                            margin: 0;
                        }
                        .day {
                            padding-bottom: 8px;
                            padding-top: 5px;
                        }
                    }
                }
            }
        }
    }
}
