<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reserva Mesa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>   
    <ion-grid fixed>
        <h2>¿Cuántas personas?</h2>
        <ion-row>
            <ion-col size="6">
                02
            </ion-col>
            <ion-col size="6">
                <span class="material-icons">
                    remove
                    </span>
                <span class="material-icons">
                    add
                    </span>
            </ion-col>
        </ion-row>
        <h2>Elija la fecha</h2>
        <i-row>
            <i-col>
                <section>
                    <ion-button size="large" color="light">Light</ion-button>
                    <ion-button size="large" color="medium">Medium</ion-button>
                    <ion-button size="large" color="dark">Dark</ion-button>
                  </section>            
            </i-col>
        </i-row>
        <h2>Desea pre-ordenar la comida</h2>
        <i-row>
            <ion-button shape="round">
                No
            </ion-button>
            <ion-button shape="round">
                Si
            </ion-button>
        </i-row>
        <h2>Motivo (opcional)</h2>
        <i-row>
            <section>
                <ion-button size="small">Default</ion-button>
                <ion-button size="small" color="secondary">Secondary</ion-button>
                <ion-button size="small" color="tertiary">Tertiary</ion-button>
              </section>
        </i-row>
        <h2>Comentario (opcional)</h2>
        <i-row>
            <section>
                <ion-button size="small">Default</ion-button>
                <ion-button size="small" color="secondary">Secondary</ion-button>
                <ion-button size="small" color="tertiary">Tertiary</ion-button>
              </section>
        </i-row>
    </ion-grid>
</ion-content>
