* {
    color: #1d252d;
}
ion-content {
    ion-grid {
        padding-left: 5vw;
        padding-top: 6.5vw;
        padding-right: 0;
        h2 {
            margin: 0;
            font-family: DMSerifDisplayRegular;
            font-size: 20px;
        }
        .people-counter {
            padding: 5vw 5vw 15vw 5vw;
            ion-col {
                padding: 0;
                height: 35px;
                span {
                    font-size: 40px;
                    font-family: FieldworkGeoLight;
                    transform: scaleY(1.55);
                    margin-top: -8px;
                    color: #ffc95a;
                    /* width: 100%; */
                    position: absolute;
                    height: 59px;
                }
                div {
                    position: absolute;
                    bottom: 0;
                    height: 40px;
                    ion-button {
                        width: 40px;
                        height: 40px;
                        --padding-end: 0;
                        --padding-start: 0;
                        margin: 0;
                    }
                    .button-padding {
                        margin-right: 40px;
                    }
                }
            }
        }
        .choose-date {
            ion-segment {
                --background: white;
                margin: 8vw 0 12vw 0;
                --ripple-color: transparent;
                // border:1px solid red;
                ion-segment-button {
                    // width: 56px !important;
                    height: 60px;
                    // --border-style: solid;
                    margin-right: 10px;
                    --background: white;
                    --background-checked: #ffc95a;
                    --indicator-color: transparent !important;
                    // --border-width: 1px;
                    // --border-color: #1d252d;
                    --border-radius: 9.6px;
                    // --indicator-box-shadow: none;
                    border:1px solid #1d252d;
                    p {
                        text-transform: capitalize;
                        font-size: 12px;
                        font-family: FieldworkGeoLight;
                        margin: 7px;
                    }
                    // label {
                    //     font-size: 16px;
                    //     font-family: FieldworkGeoLight;
                    //     // text-align: center;
                    //     // right: 28px;
                    //     text-transform: capitalize;
                    //     border:1px solid red;
                    //     // p {
                    //     //     margin: 0;
                    //     // }
                    //     // .day {
                    //     //     padding-bottom: 8px;
                    //     //     padding-top: 5px;
                    //     // }
                    // }
                }
            }
        }
        .choose-hour {
            ion-segment {
                --background: white;
                margin: 10vw 0 15vw 0;
                --ripple-color: transparent;
                ion-segment-button {
                    // width: 56px !important;
                    --height: 36px;
                    min-height: 36px;
                    margin-right: 12px;
                    --background: white;
                    --background-checked: #ffc95a;
                    --indicator-color: transparent !important;
                    // --border-width: 1px;
                    // --border-color: #1d252d;
                    --border-radius: 9.6px;
                    // --border-style: solid;
                    border:1px solid #1d252d;
                    p {
                        text-transform: capitalize;
                        font-size: 12px;
                        font-family: FieldworkGeoLight;
                        margin: 7px;
                    }
                    // span {
                    //     font-size: 16px;
                    //     font-family: FieldworkGeoLight;
                    //     // text-align: center;
                    //     // right: 22px;
                    //     text-transform: capitalize;
                    //     border:1px solid red;
                    //     p {
                    //         margin: 0;
                    //     }
                    //     .day {
                    //         padding-bottom: 8px;
                    //         padding-top: 5px;
                    //         text-align: center;
                    //     }
                    // }
                }
            }
        }
        .pre-order-question {
            .wrapper {
                margin: 10vw 0 15vw 0;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                div {
                    margin-right: 10vw;
                    width: 48px;
                    height: 48px;
                    border: 1px solid #1d252d;
                    border-radius: 50%;
                    font-size: 16px;
                    font-family: FieldworkGeoLight;
                    p {
                        margin: 0;
                        padding: 14px 0 14px 0;
                        text-align: center;
                    }
                }
            }
        }
        .reason {
            section {
                margin: 10vw 0 15vw 0;
                ion-button {
                    margin-right: 8px;
                    height: 36px;
                    text-transform: capitalize;
                    --background: white;
                    --ripple-color: transparent;
                    font-size: 16px;
                    font-family: FieldworkGeoLight;
                    --box-shadow: none;
                    --border-width: 1px;
                    --border-color: #1d252d;
                    --border-radius: 7.2px;
                    --border-style: solid;
                }
            }
        }
        .commentary{
            section {
                margin: 10vw 0 15vw 0;
                ion-item{
                    margin-right: 15vw;
                }
            }
        }
    }
}
.check-color-button {
    --background: #ffc95a !important;
    --border-style: none !important;
    --box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.4) !important;
}
.check-color {
    background-color: #ffc95a;
    border: none !important;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.4) !important;
}
.fixed-btn {
    position: fixed;
    left: 10%;
    bottom: 10px;
    right: 0;
    width: 80%;
    height: 12vw;
    z-index: 100;
    --color: #1d252d;
    text-transform: none;
    font-family: FieldworkGeoLight;
    font-size: 5vw;
    --padding-bottom: 23px;
    --padding-top: 23px;
    letter-spacing: 0.05rem;
    --background: #f89b4c;
    margin: 0;
}
.check-segment{
    --border-style: none;
}

.colorBlack{
    color:black;
}

ion-item {
    border-radius: 6px 6px 0px 0px;
    margin-top: 20px;
    --border-color: #1D252D;
    --highlight-color-focused:#F89B4C !important;
    --highlight-background:#F89B4C !important;
    ion-label {
        font-family: FieldworkGeoLight;
    }
}

.header-title {
    font-family: DMSerifDisplayRegular;
}
.disabled-button {
    --background:#E0E0E0;
}