
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
        <span class="material-icons">
            home
            </span>
      <ion-label>Inicio</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="favorite">
        <span class="material-icons">
            favorite
            </span>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders">
       <span class="material-icons">
        list_alt
        </span>
      <ion-label>Órdenes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
        <span class="material-icons">
            person
            </span>
        <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>