<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="DismissClick()">
              <!-- <ion-icon slot="start" name="close"></ion-icon> -->
              CANCELAR
            </ion-button>
          </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-card>
    <div class="card-margin-l">
        <img src="../../../assets/img/creditCard/cardilustra.svg" />
        <ion-card-header>
            <ion-card-title>Código de seguridad</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Ingrese el código de <br> seguridad
        </ion-card-content>
        <ion-input
            id="code" name="code"
            (ionChange)="changeCode()"
            inputmode="numeric" maxlength="3" minlength="3" pattern="[0-9]{3}" required></ion-input>
    </div>
    <div class="r-btn ">
        <ion-button
            [disabled]="inactiveBtn"
            (click)="goToCode()">ok</ion-button>
    </div>
</ion-card>