ion-header {
    ion-title {
        font-family: DMSerifDisplayRegular;
    }
}
ion-content {
    #price-chips {
        ion-col {
            ion-chip {
                width: 15vw;
                height: 18vw;
                border-radius: 50px;
            }
        }
    }
    #type-chips {
        ion-col {
            ion-chip {
                ion-label {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
    #country-chips{
        ion-col {
            ion-chip {
                ion-label {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
    h4 {
        font-family: DMSerifDisplayRegular;
    }
    ion-chip {
        font-family: FieldworkGeoRegular;
        background-color: white;
        border:1px solid lightgrey;
    }
}

ion-row ion-col ion-chip{
    text-align: center;
    }

.label-center {
    width: 100%;
    text-align: center;
}

.chip-checked {
    background-color: #FFC95A !important;
    border:1px solid lightgrey !important;
}

.resetButton{
    color: black; 
    font-size:16px;
}