ion-header {
    ion-title {
        font-family: DMSerifDisplayRegular;
    }
}
ion-content {
    ion-grid{
        padding-top: 5vw;
    }
    h4{
        margin-top:0;
    }
    #price-chips {
        ion-col {
            ion-chip {
                width: 15vw;
                height: 18vw;
                border-radius: 50px;
            }
        }
    }
    #type-chips {
        ion-col {
            ion-chip {
                ion-label {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
    #country-chips {
        div {
            ion-chip {
                text-align: center;
                margin-bottom: 20px;
                margin-right: 16px;
                margin-left: 0;
                margin-top: 0;
                ion-label {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
    
    h4 {
        font-family: DMSerifDisplayRegular;
    }
    ion-chip {
        font-family: FieldworkGeoRegular;
        background-color: white;
        border: 1px solid lightgrey;
    }
}

ion-row ion-col ion-chip {
    text-align: center;
}

.label-center {
    width: 100%;
    text-align: center;
}

.chip-checked {
    background-color: #ffc95a !important;
    border: 1px solid #ffc95a !important;
}

ion-footer{
    .filter-button, .filter-button-reset {
        height: 36px;
        width: 70%;
        z-index: 100;
        margin-left: 15vw;
        --color: #1d252d;
        text-transform: uppercase;
        font-family: FieldworkGeoLight;
        font-size: 18px;
        letter-spacing: 0.05rem;
        --background: #f89b4c;
        --border-radius: 16px;
        margin-bottom: 5vw;
    }

    .filter-button-reset {
        margin-left: 35vw;
        --color: #1d252d !important;
    }
    a {
        text-decoration: none;
        --color: #1d252d !important;
    }
}