<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="closeFilters()">
                <ion-icon slot="start" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Filtro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed class="ion-padding-start ion-padding-end">
        <ion-row>
            <ion-col size="12">
                <h4>Que cuente con</h4>
            </ion-col>
            <ion-col id="type-chips" size="12">
                 <ion-row class="ion-padding-start ion-padding-end" style="text-align: center;">
                    <ion-col >
                        <ion-chip id="place-1" (click)="addChip('place', {'id': 1, 'name': 'Retiro por local'})">
                            <ion-label>Retiro por el local</ion-label>
                        </ion-chip>
                    </ion-col>
                    <ion-col >
                        <ion-chip id="place-2" (click)="addChip('place', {'id': 2, 'name': 'Delivery'})">
                            <ion-label>Delivery</ion-label>
                        </ion-chip>
                    </ion-col>
                 </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <h4>Precio</h4>
            </ion-col>
            <ion-col id="price-chips" size="12">
                <ion-row class="ion-padding-start ion-padding-end">
                    <ion-col size="3">
                        <ion-chip id="level-1" (click)="addChip('level', {'id': 1, 'name': '$'})">
                            <ion-label class="label-center">$</ion-label>
                        </ion-chip>
                    </ion-col>
                    <ion-col  size="3">
                        <ion-chip id="level-2" (click)="addChip('level', {'id': 2, 'name': '$$'})">
                            <ion-label class="label-center">$$</ion-label>
                        </ion-chip>
                    </ion-col>
                    <ion-col  size="3">
                        <ion-chip id="level-3" (click)="addChip('level', {'id': 3, 'name': '$$$'})">
                            <ion-label class="label-center">$$$</ion-label>
                        </ion-chip>
                    </ion-col>
                    <ion-col size="3">
                        <ion-chip id="level-4" (click)="addChip('level', {'id': 4, 'name': '$$$$'})">
                            <ion-label >$$$$</ion-label>
                        </ion-chip>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <h4>Cocina</h4>
            </ion-col>
            <ion-col id="country-chips" size="12">
                <ion-row  class="ion-padding-start ion-padding-end">
                    <div  *ngFor="let chip of chips">
                        <ion-chip id="cook-{{ chip.tag.id }}"  (click)="addChip('cook', chip.tag)">
                            <ion-label>{{ chip.tag.name }}</ion-label>
                        </ion-chip>
                    </div>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button (click)="applicateFilters()" class="filter-button"  expand="block" shape="round">
        Aplicar filtros
    </ion-button>
    <ion-button (click)="resetFilters()" class="filter-button" color="light" expand="block" shape="round">
        Resetear
    </ion-button>
</ion-content>