@import "../../../theme/custom.scss";
.header-content {
    height: 40%;
}

.body-content {
    height: 60%;
    position: relative;
}

.login-btn {
    position: absolute;
    top: -38px;
    right: 44px;
    --border-radius: 50%;
    --box-shadow: 0px 9px 5px rgba(0, 0, 0, 0.4);
    --background: var(--bg-primary-tint);
    width: 70px;
    height: 70px;
    --opacity: 1;
    &.button-disabled {
        --color: var(--primary-grey);
        --background: var(--secondary-grey);
        // --background: red;
        --box-shadow: none;
        --opacity: 1;
    }
}

.forgot {
    margin: 0 0 0 32px;
    font-family: FieldworkGeoThin;
}

ion-col {
    h2 {
        font-size: 28px;
        margin: 0 0 0 10px;
        font-family: DMSerifDisplayRegular;
        font-weight: lighter;
    }
}

ion-item {
    margin-top: 20px;
    ion-label {
        font-family: FieldworkGeoThin;
    }
}

// ion-fab {
//     margin: -50px 20px 0 0;
//     ion-button {
//         --transition: background-color,opacity 100ms linear;
//         --ripple-color: currentColor;
//         --border-radius: 50%;
//         --border-width: 0;
//         --border-style: none;
//         --border-color: initial;
//         --padding-top: 0;
//         --padding-end: 0;
//         --padding-bottom: 0;
//         --padding-start: 0;
//         margin-left: 0;
//         margin-right: 0;
//         margin-top: 0;
//         margin-bottom: 0;
//         display: block;
//         width: 56px;
//         height: 56px;
//         position: relative;
//         font-size: 14px;
//         text-align: center;
//         text-overflow: ellipsis;
//         text-transform: none;
//         white-space: nowrap;
//         -webkit-font-kerning: none;
//         font-kerning: none;
//         ion-icon{
//             margin: 0;
//             position: absolute;
//             top: 50%;
//             -ms-transform: translateY(-50%);
//             transform: translateY(-50%);
//         }
//     }
// }
// @media (max-height: 576px) {
//     .header-content {
//         height: 10%;
//     }
//     .body-content {
//         height: 90%;
//     }
//     ion-content {
//         --background: white !important;
//     }
// }