@import "../../../theme/custom.scss";
// .header-content {
//     height: 40%;
// }
.header-content {
    height: 10%;
    ion-buttons {
        padding-left: 3vw;
        padding-top: 3vw;
    }
}
ion-back-button {
    --color: #655c3d;
}
.body-content {
    height: 60vh;
    position: absolute;
    bottom: 0;
    min-height: 85vw;
}

.eye-icon{
    height: 100%;
    margin-top: 0;
}


.bg-btn {
    position: absolute;
    top: -38px;
    right: 44px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.login-btn {
    //   position: absolute;
    //   top: -38px;
    //   right: 44px;
    --border-radius: 50%;
    --box-shadow: 0px 5.5px 3px rgba(0, 0, 0, 0.26);
    --background: var(--bg-primary-tint);
    width: 70px;
    height: 70px;
    --opacity: 1;
    &.button-disabled {
        --color: var(--primary-grey);
        --background: var(--secondary-grey);
        // --background: red;
        --box-shadow: none;
        --opacity: 1;
    }
}

.forgot {
    margin: 0 0 0 32px;
    font-family: FieldworkGeoLight;
}

ion-col {
    h2 {
        font-size: 28px;
        margin: 0 0 0 10px;
        font-family: DMSerifDisplayRegular;
        font-weight: lighter;
    }
}

ion-footer {
    &.footer-md::before {
        background-image: none;
    }
}

ion-item {
    border-radius: 6px 6px 0px 0px;
    margin-top: 20px;
    --border-color: #1D252D;
    --highlight-color-focused:#F89B4C !important;
    --highlight-background:#F89B4C !important;
    ion-label {
        font-family: FieldworkGeoLight;
    }
}

.colorBlack{
    color:black;
}


// ion-fab {
//     margin: -50px 20px 0 0;
//     ion-button {
//         --transition: background-color,opacity 100ms linear;
//         --ripple-color: currentColor;
//         --border-radius: 50%;
//         --border-width: 0;
//         --border-style: none;
//         --border-color: initial;
//         --padding-top: 0;
//         --padding-end: 0;
//         --padding-bottom: 0;
//         --padding-start: 0;
//         margin-left: 0;
//         margin-right: 0;
//         margin-top: 0;
//         margin-bottom: 0;
//         display: block;
//         width: 56px;
//         height: 56px;
//         position: relative;
//         font-size: 14px;
//         text-align: center;
//         text-overflow: ellipsis;
//         text-transform: none;
//         white-space: nowrap;
//         -webkit-font-kerning: none;
//         font-kerning: none;
//         ion-icon{
//             margin: 0;
//             position: absolute;
//             top: 50%;
//             -ms-transform: translateY(-50%);
//             transform: translateY(-50%);
//         }
//     }
// }
// @media (max-height: 576px) {
//     .header-content {
//         height: 10%;
//     }
//     .body-content {
//         height: 90%;
//     }
//     ion-content {
//         --background: white !important;
//     }
// }