<app-header title=""></app-header>

<ion-content fullscreen>
    <div class="header-content">

    </div>
    <div class="body-content">
        <form novalidate (submit)="doLogin($event)" [formGroup]="form">

            <div class="bg-btn">
                <ion-button [disabled]="form.invalid" size="large" class="login-btn" type="submit" fill="solid">
                    <ion-icon name="arrow-forward"></ion-icon>
                </ion-button>
            </div>

            <ion-grid fixed>
                <ion-row>
                    <ion-col>
                        <h2>Iniciar Sesión</h2>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-list>

                            <ion-item color="input-background">
                                <ion-label class="colorBlack" position="floating">Email</ion-label>
                                <ion-input class="colorBlack" [(ngModel)]="user.email" formControlName="email" name="email" type="email" required></ion-input>
                            </ion-item>

                            <ion-item color="input-background">
                                <ion-label class="colorBlack" position="floating">Contraseña</ion-label>
                                <ion-input class="colorBlack" [(ngModel)]="user.password" formControlName="password" type="{{type}}" name="password" required></ion-input>
                                <ion-icon color="dark" *ngIf="type==='text'" slot="end" (click)="showPassword()" name="eye"></ion-icon>
                                <ion-icon color="dark" *ngIf="type==='password'" slot="end" (click)="showPassword()" name="eye-off"></ion-icon>
                            </ion-item>

                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12" class="ion-text-center">
                        <span *ngIf="!error.ok" style="color:red; font-size: 15px;">
                  {{ error.mensaje }}
              </span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <span class="forgot" (click)="forgotPassword()" fill="clear">
        Olvidé mi contraseña
      </span>
    </ion-toolbar>
</ion-footer>