<ion-content fullscreen fixed scrollY="false">
    <div class="header-content">
        <ion-buttons mode="md" slot="start">
            <ion-back-button mode="md" icon="arrow-back-outline" defaultHref="/">
            </ion-back-button>
        </ion-buttons>
    </div>
    <div class="body-content">
        <form novalidate (submit)="doVerify()" [formGroup]="form">
            
            <ion-grid fixed>
                <ion-row>
                    <ion-col>
                        <h2>Verificación</h2>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div class="first-label">
                            <label>
                                Ingrese el código. Luego podrá reestablecer su contraseña.
                            </label>
                        </div>                        
                        <ion-list>
                            <ion-item>
                                <ion-label position="floating">Código</ion-label>
                                <ion-input [(ngModel)]="userRegister.code" formControlName="code" name="code"
                                    type="number" required></ion-input>
                            </ion-item>

                            <span *ngIf="errors.code" class="error-message">
                                {{errors.code}}
                            </span>
                        </ion-list>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
        <div class="ion-text-justify" class="footer-message">
            <ion-toolbar>
                <span class="forgot" (click)="reSendCode()" fill="clear">
                    Reenviar código
                </span>
            </ion-toolbar>
        </div>
    </div>
    <ion-fab horizontal="end" horizontal="end" slot="fixed" edge="true">
        <ion-button [disabled]="form.invalid" size="large" type="submit">
            <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
    </ion-fab>
</ion-content>