<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="DismissClick()">
              <!-- <ion-icon slot="start" name="close"></ion-icon> -->
              CANCELAR
            </ion-button>
          </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" fullscren="true">
    <ion-list>
        <ion-item
            *ngFor="let card of cards"
            lines="none">

            <ion-thumbnail slot="start">
                <img src="../../../assets/img/creditCard/Recurso3.svg">
            </ion-thumbnail>

            <ion-label (click)="presentCardCode($event, card)">
                <span>····</span> {{ card.number | slice:-4 }}
            </ion-label>

            <ion-icon
                (click)="editCard(card)"
                slot="end"
                name="pencil-outline"></ion-icon>

        </ion-item>

    </ion-list>

    <div class="btn">
        <ion-button (click)="addCard()" class="cnx_btn" shape="round">
            Agregar Tarjeta
        </ion-button>
    </div>
</ion-content>