ion-header {
    margin-top: 15px;
    margin-bottom: 15px;
    ion-toolbar {
        padding-left: 4.5vw;
        padding-right: 4.5vw;
        div {
            display: flex;
            flex-direction: row;
            height: 2.5em;
            ion-searchbar {
                --border-radius: 30px;
                width: 70vw;
                padding-left: 1vw;
                padding-right: 1vw;
                --box-shadow: 0px 0px 0px 1px black;
                font-family: FieldworkGeoLight;
            }

            span {
                display: flex;
                flex-direction: column;
                // margin-left: 7vw;
                vertical-align: middle;
                // height: 2.5em;
                align-self: center;
                ion-icon {
                    height: 52%;
                }
                // .md span{
                //     align-self: center;
                // }
            }
            ion-label {
                margin-top: 0;
                font-family: FieldworkGeoLight;
                // font-size: 12px;
            }
        }
    }
}

ion-searchbar {
    --border-radius: 30px;
    width: 70vw;
    padding-left: 1vw;
    padding-right: 1vw;
    --box-shadow: 0px 0px 0px 1px black;
    font-family: FieldworkGeoLight;
}
.f-family {
    font-family: FieldworkGeoRegular;
}
.text-on-bottom {
    display: block;
    flex-direction: column;
}
ion-avatar {
    --border-radius: none;
}

.menu-icon {
    margin: 0 1px 0 10px;
}

.bgcolor {
    --background: #ffd060 !important;
}

.filterColor {
    --icon-color: #ffbb61 !important;
}

.bgcolorSearch {
    --icon-color: #ffbb61 !important;
    --box-shadow: 0px 0px 0px 1px #1d432d !important;
}
.title-restaurants {
    margin-bottom: 0;
    margin-top: 0;
    box-shadow: none;
    h5 {
        margin: 0;
        font-family: DMSerifDisplayRegular;
        font-size: 24px;
    }
}


//////////
.list-restaurants{

    ion-card{
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 15px;
        height: 43vh;
        box-shadow: none;
        margin-bottom: 0;
        #dto1{
            position: absolute;
            font-size: 4vw;
            background-color: orange;
            height: 5vw;
            top: 4%;
            right: 0;
            padding-left: 1vw;
            color: black;
            border-radius: 6px 0px 0px 6px;
            font-family: FieldworkHumHair;
        }
        #dto2{
            position: absolute;
            font-size: 4vw;
            background-color: orange;
            height: 5vw;
            top: 12%;
            right: 0;
            padding-left: 1vw;
            color: black;
            border-radius: 6px 0px 0px 6px;
            font-family: FieldworkHumHair;
        }
        #dto3{
            position: absolute;
            font-size: 4vw;
            background-color: orange;
            height: 5vw;
            top: 20%;
            right: 0;
            padding-left: 1vw;
            color: black;
            border-radius: 6px 0px 0px 6px;
            font-family: FieldworkHumHair;
        }
        img{
            border-radius: 15px;
            width: 100%;
            height: 42vw;
            object-fit: cover;
        }
        ion-card-header{
            padding-top: 7px;
            padding-right: 0;
            padding-left: 1vw;
            ion-card-title{
                font-family: DMSerifDisplayRegular;
                font-size: 1.3em;
            }
            ion-card-subtitle{
                font-family: FieldworkGeoRegular;
                margin-top: 4px;
                font-size: 4vw;
                text-transform: capitalize;
            }
            p{
                font-family: FieldworkGeoRegular;
                font-size: 4vw;
                margin-top: 4px;
                margin-bottom: 0;
            }
        }

    }

    ion-col{
        padding: 0;
    }

    @media (min-height: 750px) {
        .list-restaurants{
            ion-card {
                height: 32vh;
            }
        }
    }

    @media (min-height: 700px) {
        .list-restaurants{
            ion-card {
                height: 37vh;
            }
        }
    }

    @media (max-height: 600px) {
        ion-card-title{
            font-size: 1.1em !important;
        }
        ion-card-subtitle{
            font-size: 0.9em !important;
        }
    }


    .qualify {
        color: #ff7300;
        font-family: FieldworkGeoRegular;
    }


    .level {
        color:red;
    }

    .desc_resto {
        font-size: 18px;
    }
}
/////////