
<ion-header class="ion-no-border">
  <ion-toolbar>
    <div>
        <ion-searchbar
          (ionInput)="searchFilter( $event )"
          (ionCancel)="onCancel()"
          (ionClear)="onCancel()"
          [(ngModel)]="valueSearch"
          placeholder='Buscar restaurantes o ciudades'
          showCancelButton="focus"
          inputmode="text"
          [ngClass]="{'bgcolorSearch':searchColor}"
          class="placeholder-input">
        </ion-searchbar>
        <ion-tab-button
          (click)="openFilters()"
          [ngClass]="{'filters_check':filterColor}">
            <span
              class="material-icons">
                filter_list
             </span>
           <ion-label>Filtro</ion-label>
         </ion-tab-button>
    </div>
  </ion-toolbar>

</ion-header>

<ion-content [ngClass]="{ bgcolor: activeDefault }"  *ngIf="searchChange">

  <ion-list>
    <ion-item *ngFor="let resto of resultSearch" (click)="selectResult( resto )">
        <ion-avatar slot="start">
          <img [src]="resto.profile_picture" *ngIf="resto.type === 'resto'">
          <ion-icon size="large" name="location" *ngIf="resto.type === 'city'"></ion-icon>
        </ion-avatar>
        <ion-label *ngIf="resto.type === 'resto'">
          <h2>{{ resto.name }}</h2>
          <h3>{{ resto.address }}</h3>
        </ion-label>
        <ion-label *ngIf="resto.type === 'city'">
          <h2>{{ resto.name }}</h2>
        </ion-label>
        <span  *ngIf="resto.type === 'city'" slot="end" style="color:rgb(117, 117, 117)">({{ resto.count }})</span>
    </ion-item>
  </ion-list>

</ion-content>

<ion-content [ngClass]="{ bgcolor: activeDefault }"  *ngIf="!searchChange">

  <ion-refresher
    slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingText="Refreshing..."
      refreshingSpinner="bubbles">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid fixed>
    <ion-row >
      <ion-col size="12">
        <ion-chip class="f-family" *ngFor="let chip of chips">
          <ion-label>{{ chip.name }}</ion-label>
          <ion-icon name="close" (click)="removeChip(chip)"></ion-icon>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-card class="title-restaurants" *ngIf="chips.length <= 0 && valueSearch === ''">
        <ion-text color="dark">
            <h5>Explorar restaurantes populares</h5>
        </ion-text>
    </ion-card>
    <app-restaurant
      [restaurants]="restaurants"></app-restaurant>

  </ion-grid>
</ion-content>