ion-header{
    margin-top: 13px;
    margin-left: 8px;
    ion-toolbar{
        ion-searchbar{
            --border-radius: 30px;
            width: 82vw;
        }
    }
}

ion-avatar{
    --border-radius:none;
}

.menu-icon {
    margin: 0 1px 0 10px;
}

.filter-icon {
    margin: 0 10px 0 2px;
}

.bgcolor {
    --background: #FFD060 !important;
}

.filterColor {
    --icon-color: #FFBB61 !important;
}


.bgcolorSearch {
    --icon-color: #FFBB61 !important;
}
