ion-header {
    margin-top: 15px;
    margin-bottom: 15px;
    ion-toolbar {
        padding-left: 4.5vw;
        padding-right: 4.5vw;
        div {
            display: flex;
            flex-direction: row;
            height: 2.5em;
            ion-searchbar {
                --border-radius: 30px;
                width: 70vw;
                padding-left: 1vw;
                padding-right: 1vw;
                --box-shadow: 0px 0px 0px 1px black;
                font-family: FieldworkGeoLight;
               
            }
      
            span {
                display: flex;
                flex-direction: column;
                margin-left: 7vw;
                vertical-align: middle;
                height: 2.5em;
                align-self: center;
                ion-icon{
                    height: 52%;
                }
            // .md span{
            //     align-self: center;
            // }
                p {
                    font-family: FieldworkGeoRegular;
                    text-align: center;
                    font-size: 0.7em;
                    margin: 0;
                }
            }
        }
    }
}

ion-searchbar {
    --border-radius: 30px;
    width: 70vw;
    padding-left: 1vw;
    padding-right: 1vw;
    --box-shadow: 0px 0px 0px 1px black;
    font-family: FieldworkGeoLight;
}
.f-family {
    font-family: FieldworkGeoRegular;
}
.text-on-bottom {
    display: block;
    flex-direction: column;
}
ion-avatar {
    --border-radius: none;
}

.menu-icon {
    margin: 0 1px 0 10px;
}

.bgcolor {
    --background: #ffd060 !important;
}

.filterColor {
    --icon-color: #ffbb61 !important;
}

.bgcolorSearch {
    --icon-color: #ffbb61 !important;
    --box-shadow: 0px 0px 0px 1px #1d432d !important;
}