<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <h2>Pedido</h2>
    </ion-toolbar>
</ion-header>

<ion-content class="main" >
    <ion-grid fixed>
        <i-row class="order">
            <div class="wrapper-order">
                <h3>Rabas con salsa alioli</h3>
                <p class="first-p">2 Naguiri
                </p>
                <p class="second-p">4 Geishas</p>
                <div>
                    <h4>$410</h4>
                    <h4>x1</h4>
                </div>
            </div>
        </i-row>
        <i-row class="order">
            <div class="wrapper-order">
                <h3>Hamburguesa de lomo</h3>
                <p class="first-p">Con panceta, cebolla y huevo a
                    la plancha.</p>
                <p class="second-p">Adicional: 1 huevo doble</p>
                <div>
                    <h4>$480</h4>
                    <h4>x1</h4>
                </div>
            </div>
        </i-row>
        <i-row class="order">
            <div class="wrapper-order">
                <h3>Rabas con salsa alioli</h3>
                <p class="first-p">Mix de pescados y mariscos al limón sobre
                    colchón de verdes</p>
                <p class="second-p">Porción: 1 mediana, 1 chica</p>
                <div>
                    <h4>$390</h4>
                    <h4>x2</h4>
                </div>
            </div>
        </i-row>
        <i-row class="price-info">
            <div class="price-wrapper">
                <p class="total-price">Total $1053</p>
            </div>
        </i-row>
    </ion-grid>
</ion-content>