<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <h2>Pedido</h2>
    </ion-toolbar>
</ion-header>

<ion-content class="main" >
    <ion-grid fixed>
        <ion-row class="order" *ngFor="let order of item.orders">
            <div class="wrapper-order">
                <span *ngFor="let item of order.products">
                    <h3><b>{{ item.product.category.name }}</b></h3>
                    <p class="first-p" *ngIf="item.variant">
                        {{ item.variant.name }}
                    </p>
                    <p class="first-p" *ngIf="!item.variant">
                        {{ item.product.name }} <span style="color: rgb(116, 116, 116);" *ngIf="item.product.description">({{item.product.description}})</span>
                    </p>
                    <div *ngIf="item.variant">
                        <h4>${{ item.variant.price }}</h4>
                        <h4>x{{ item.amount }}</h4>
                    </div>
                    <div *ngIf="!item.variant">
                        <h4>${{ item.product.price }}</h4>
                        <h4>x{{ item.amount }}</h4>
                    </div>
                </span>
                <br>
                <span *ngIf="order.additionals.length > 0">
                    <span>Adicionales:</span>
                    <br>
                    <p class="second-p" *ngFor="let add of order.additionals">
                        {{ add.amount }} {{ add.additional.name }}
                    </p>
                </span>
            </div>
        </ion-row>
        <ion-row class="price-info">
            <div class="price-wrapper">
                <p class="total-price">Total ${{price_total}}</p>
            </div>
        </ion-row>
    </ion-grid>
</ion-content>