<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button *ngIf="expression"></ion-back-button>
            <ion-button *ngIf="!expression" (click)="backToViewOrder()">
                <ion-icon  name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Confirmación</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="main" *ngIf="expression">
    <ion-grid fixed>
        <ion-row class="order" *ngFor="let order of orders">
            <div class="wrapper-order">
                <h3>{{ order.product.name }}</h3>
                <p class="first-p" *ngFor="let variant of order.product.variants">
                    {{ variant.count }} {{ variant.name }}
                </p>
                <span *ngIf="order.product.additionals">Adicionales:</span>
                <p class="second-p" *ngFor="let additional of order.product.additionals">
                    {{ additional.count }} {{ additional.name }}
                </p>
                <div>
                    <h4>${{ order | priceItem }}</h4>
                    <h4>x{{ order.product.count }}</h4>
                </div>
            </div>
        </ion-row>
        <br>

        <ion-row class="pre-order-question" *ngIf="type === 'RESERVE'">
            <h2>Pago</h2>
            <div class="wrapper">
                <div [ngClass]="{'check-color' : payPlace}" (click)="payNow(true)">
                    <p>En el restaurante</p>
                </div>
                <div [ngClass]="{'check-color' : !payPlace}" (click)="presentPopover(false)">
                    <p>Ahora</p>
                </div>
            </div>
            <div class="card" *ngIf="!payPlace">
                <!-- <p><img src="../../../assets/logos/view-list-order/visa.svg" alt="" srcset="">.... 4517</p> -->
                <p *ngIf="data_payment.card">Tarjeta terminada en: .... {{ data_payment.card.number | slice:-4 }}</p>
            </div>
        </ion-row>
        <ion-row class="price-info">
            <div class="price-wrapper">
                <div>
                    <p>Subtotal</p>
                    <p class="price-percent">${{ price_total }}</p>
                </div>
                <div>
                    <p>Descuento</p>
                    <p class="price-percent">10%</p>
                </div>
                <p class="total-price">Total ${{ price_total }}</p>
            </div>
        </ion-row>

        <ion-row class="reason" *ngIf="type === 'ORDER'">
            <h2>El pedido es para...</h2>
            <section>
                <ion-button [ngClass]="{'check-color-button' : comer}" (click)="check('comer')" size="small">
                    Comer en el restaurante</ion-button>
                <ion-button [ngClass]="{'check-color-button' : delivery}" (click)="check('delivery')" size="small">
                    Delivery
                </ion-button>
                <ion-button [ngClass]="{'check-color-button' : retirar}" (click)="check('retirar')" size="small">Retirar
                    por el local
                </ion-button>
            </section>
        </ion-row>

    </ion-grid>
    <ion-button *ngIf="type === 'RESERVE'" (click)="goToPaymentReserve()" class="fixed-btn" shape="round">
        CONFIRMAR
    </ion-button>
    <ion-button *ngIf="type === 'ORDER'" class="fixed-btn" shape="round" (click)="changeExpression()">
        CONTINUAR
    </ion-button>
</ion-content>
<!-- ----------------------- comer en el restaurant ------------------- -->
<ion-content class="restaurant" *ngIf="!expression && comer">
    <ion-grid fixed>
        <h2>¿Cuántas personas?</h2>
        <small style="color:rgb(143, 143, 143); font-family: Arial, Helvetica, sans-serif;">Capacidad máx.: {{ restaurant.max_diners }} personas.</small>
        <ion-row class="people-counter">
            <ion-col size="6">
                <p>{{ countPeople }}</p>
            </ion-col>
            <ion-col size="6">
                <div>
                    <ion-button class="button-padding" (click)="removePeople()" fill="clear">
                        <img src="../../../assets/buttons/book-table/minus-button.svg" alt="" srcset="">
                    </ion-button>
                    <ion-button (click)="addPeople()" fill="clear">
                        <img src="../../../assets/buttons/book-table/plus-button.svg" alt="" srcset="">
                    </ion-button>
                </div>

            </ion-col>
        </ion-row>
        <h2>Elija la fecha</h2>
        <ion-row class="choose-date">
            <ion-segment scrollable="true" value="lun" mode="md">
                <ion-segment-button
                    *ngFor="let item of days"
                    (click)="checkHours(item)"
                    mode="md"
                    [value]="item.day">
                    <div>
                        <p class="day">{{ item.day}}</p>
                        <p>{{ item.date | slice:-2 }}</p>
                    </div>
                </ion-segment-button>
            </ion-segment>
        </ion-row>
        <h2>Seleccione hora</h2>
        <p *ngIf="hours.length <= 0" style="color: rgb(168, 167, 167);"> {{ message_hours }} </p>
        <ion-row class="choose-hour" *ngIf="hours.length > 0">
            <ion-segment scrollable="true" value="" mode="md">
                <ion-segment-button
                    *ngFor="let hour of hours" (click)="selectHour($event, hour)"
                    mode="md"
                    id="option-{{ hour }}"
                    [value]="hour">
                    <div>
                        <p class="day">{{ hour }}</p>
                    </div>
                </ion-segment-button>
            </ion-segment>
        </ion-row>
        <ion-row class="pre-order-question">
            <h2>Pago</h2>
            <div class="wrapper">
                <div [ngClass]="{'check-color' : payPlace}" (click)="payNow(true)">
                    <p>En el restaurante</p>
                </div>
                <div [ngClass]="{'check-color' : !payPlace}" (click)="presentPopover(false)">
                    <p>Ahora</p>
                </div>
            </div>
            <div class="card" *ngIf="!payPlace">
                <!-- <p><img src="../../../assets/logos/view-list-order/visa.svg" alt="" srcset="">.... 4517</p> -->
                <p *ngIf="data_payment.card">Tarjeta terminada en: .... {{ data_payment.card.number | slice:-4 }}</p>
            </div>
        </ion-row>
        <ion-row class="price-info">
            <div class="price-wrapper">
                <div>
                    <p>Subtotal</p>
                    <p class="price-percent">${{ price_total }}</p>
                </div>
                <div>
                    <p>Descuento</p>
                    <p class="price-percent">10%</p>
                </div>
                <p class="total-price">Total ${{ price_total }}</p>
            </div>
        </ion-row>
        <h2>Motivo (opcional)</h2>
        <ion-row class="reason">
            <section>
                <ion-button [ngClass]="{'check-color-button' : cumpleanos}" (click)="checkReason('Cumpleaños')"
                    size="small">
                    Cumpleaños</ion-button>
                <ion-button [ngClass]="{'check-color-button' : cita}" (click)="checkReason('Cita')" size="small">Cita
                </ion-button>
                <ion-button [ngClass]="{'check-color-button' : aniversario}" (click)="checkReason('Aniversario')"
                    size="small">Aniversario</ion-button>
                <ion-button [ngClass]="{'check-color-button' : laboral}" (click)="checkReason('Laboral')" size="small">
                    Laboral
                </ion-button>
                <ion-button [ngClass]="{'check-color-button' : otro}" (click)="checkReason('Otro')" size="small">Otro
                </ion-button>
            </section>
        </ion-row>
        <h2>Comentario (opcional)</h2>
        <ion-row class="commentary">
            <section>
                <ion-item>
                    <ion-label position="floating">Comentario</ion-label>
                    <ion-input [(ngModel)]="option_select.comments"></ion-input>
                </ion-item>
            </section>
        </ion-row>
    </ion-grid>
    <ion-button
        [disabled]="option_select.hs === ''"
        (click)="goToPaymentReserve()"
        class="fixed-btn" shape="round">
        Finalizar
    </ion-button>
</ion-content>
<!-- -----------------------retiro por el local----------------------------- -->
<ion-content class="restaurant" *ngIf="!expression && retirar">
    <ion-grid fixed>
        <h2>Pedido para hoy a las...</h2>
        <ion-row class="choose-hour" *ngIf="hours.length > 0">
            <ion-segment scrollable="true" value="" mode="md">
                <ion-segment-button
                    *ngFor="let hour of hours" (click)="selectHour($event, hour)"
                    mode="md"
                    id="option-{{ hour }}"
                    [value]="hour">
                    <div>
                        <p class="day">{{ hour }}</p>
                    </div>
                </ion-segment-button>
            </ion-segment>
        </ion-row>
        <ion-row class="pre-order-question" *ngIf="type === 'ORDER'">
            <h2>Pago</h2>
            <div class="wrapper">
                <div [ngClass]="{'check-color' : payPlace}" (click)="payNow(true)">
                    <p>En el restaurante</p>
                </div>
                <div [ngClass]="{'check-color' : !payPlace}" (click)="presentPopover(false)">
                    <p>Ahora</p>
                </div>
            </div>
            <div class="card" *ngIf="!payPlace">
                <!-- <p><img src="../../../assets/logos/view-list-order/visa.svg" alt="" srcset="">.... 4517</p> -->
                <p *ngIf="data_payment.card">Tarjeta terminada en: .... {{ data_payment.card.number | slice:-4 }}</p>
            </div>
        </ion-row>
        <ion-row class="price-info">
            <div class="price-wrapper">
                <div>
                    <p>Subtotal</p>
                    <p class="price-percent">${{ price_total }}</p>
                </div>
                <div>
                    <p>Descuento</p>
                    <p class="price-percent">10%</p>
                </div>
                <p class="total-price">Total ${{ price_total }}</p>
            </div>
        </ion-row>
        <h2>Comentario (opcional)</h2>
        <ion-row class="commentary">
            <section>
                <ion-item>
                    <ion-label position="floating">Comentario</ion-label>
                    <ion-input [(ngModel)]="option_select.comments"></ion-input>
                </ion-item>
            </section>
        </ion-row>
    </ion-grid>
    <ion-button
        [disabled]="option_select.hs === ''"
        (click)="goToPaymentOrder()"
        class="fixed-btn" shape="round">
        Finalizar
    </ion-button>
</ion-content>
<!-- ----------------------------Delivery---------------------------------------->
<ion-content class="restaurant delivery" *ngIf="!expression && delivery">
    <ion-grid fixed>
        <h2>Pedido para hoy a las...</h2>
        <ion-row class="choose-hour" *ngIf="hours.length > 0">
            <ion-segment scrollable="true" value="" mode="md">
                <ion-segment-button
                    *ngFor="let hour of hours" (click)="selectHour($event, hour)"
                    mode="md"
                    id="option-{{ hour }}"
                    [value]="hour">
                    <div>
                        <p class="day">{{ hour }}</p>
                    </div>
                </ion-segment-button>
            </ion-segment>
        </ion-row>
        <h2>Dirección</h2>
        <ion-row class="commentary">
            <section>
                <ion-item>
                    <ion-label position="floating">Dirección</ion-label>
                    <ion-input (ionChange)="changedAddress($event)" [(ngModel)]="option_select.address" required></ion-input>
                </ion-item>
            </section>
        </ion-row>
        <ion-row class="pre-order-question" *ngIf="type === 'RESERVE'">
            <h2>Pago</h2>
            <div class="wrapper">
                <div [ngClass]="{'check-color' : payPlace}" (click)="payNow(true)">
                    <p>En el restaurante</p>
                </div>
                <div [ngClass]="{'check-color' : !payPlace}" (click)="presentPopover(false)">
                    <p>Ahora</p>
                </div>
            </div>
            <div class="card" *ngIf="!payPlace">
                <!-- <p><img src="../../../assets/logos/view-list-order/visa.svg" alt="" srcset="">.... 4517</p> -->
                <p *ngIf="data_payment.card">Tarjeta terminada en: .... {{ data_payment.card.number | slice:-4 }}</p>
            </div>
            <div class="noCard" *ngIf="!payPlace">
                <p>¿Con cuanto abona?</p>
                <ion-item>
                    <ion-input [(ngModel)]="option_select.expected_payment"></ion-input>
                </ion-item>
            </div>
        </ion-row>
        <ion-row class="price-info">
            <div class="price-wrapper">
                <div>
                    <p>Subtotal</p>
                    <p class="price-percent">${{ price_total }}</p>
                </div>
                <div>
                    <p>Descuento</p>
                    <p class="price-percent">10%</p>
                </div>
                <p class="total-price">Total ${{ price_total }}</p>
            </div>
        </ion-row>
        <h2>Comentario (opcional)</h2>
        <ion-row class="commentary">
            <section>
                <ion-item>
                    <ion-label position="floating">Comentario</ion-label>
                    <ion-input [(ngModel)]="option_select.comments"></ion-input>
                </ion-item>
            </section>
        </ion-row>
    </ion-grid>
    <ion-button
        [disabled]="!inactiveFinalizar"
        (click)="goToPaymentOrder()"
        class="fixed-btn" shape="round">
        Finalizar
    </ion-button>
</ion-content>